/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      	Welcome Screen				   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* line 6, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.welcome-homepage {
  background: url("background.jpg") no-repeat center fixed;
  background-size: cover;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 17, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.welcome-homepage h1 {
  color: #fff;
  margin-top: 30vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  /* line 27, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
  .welcome-homepage h1 {
    font-size: 24px;
  }
}
/* line 32, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.subtitle-homepage {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

/* line 39, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar-background-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 50px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* line 50, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar-background {
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
}

/* line 56, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 44px;
  margin: 0;
}

/* line 64, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar > * {
  border: 0;
  margin: 0;
}

/* line 69, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar > ::-moz-focus-inner {
  border: 0;
}

/* line 73, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-bar label {
  color: #fff;
  margin: 0 5px;
}

/* line 78, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-selector-label {
  width: 20%;
  position: relative;
}

/* line 83, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-selector {
  color: #616161;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  height: 44px;
  width: 100%;
  padding-left: 10px;
}

/* line 96, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.search-selector-label:after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #616161;
  padding-top: 12px;
  padding-right: 10px;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

/* line 110, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.description-homepage {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 115, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.description-homepage h2 {
  text-align: center;
}

/* line 119, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.title-underlign {
  width: 50px;
  border: 3px solid #E91E63;
}

/* line 124, /home/ipo/ROR/hewago/app/assets/stylesheets/index.scss */
.description-homepage h4 {
  font-weight: bold;
}
