<p id="notice"><%= notice %></p>

<h1>Listing Choices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chosen</th>
      <th>Reservation</th>
      <th>City ID</th>
      <th>City Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.name %></td>
        <td><%= choice.chosen %></td>
        <td><%= choice.reservation_id %></td>
        <td><%= choice.city_id %></td>
        <td> <% if !choice.city.nil? %> <%= choice.city.name %>  <%end%></td>
        <td><%= link_to 'Show', choice %></td>
        <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
        <td><%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choice', new_choice_path %>
