<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @choice.name %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @choice.reservation_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @choice.city_id %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
