<section class="grey-section">
	<div class="container">
		<div class="row md-margin-top">
			<div class="col-sm-3 no-padding">
				<ul class="side-nav nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#about-us" aria-controls="about-us" role="tab" data-toggle="tab">À propos de nous</a></li>
				</ul>
			</div>

			<div class="col-sm-9 no-padding tab-content">
				<div role="tabpanel" class="tab-pane active" id="about-us">
					<p>Hewago a été fondé en janvier par trois passionnés de voyages qui se demandaient plus souvent où ils pourraient aller ce weekend que s'ils allaient partir ce weekend. Hewago est une réponse directe à cette question, nous croyons que le voyage compte plus que la destination ; même si nous sélectionnons des villes que nous avons adorées ou dans lesquelles nous rêvons d'aller.</p>
					<p>Hewago est un site qui vous permet de partir en weekend dans une ville surprise (parmis les 12 villes sélectionnées par notre équipe) dès 175 € par personne; en ligne, sur un téléphone mobile ou une tablette.</p>
					<p>Qu'il s'agisse d'un weekend dans un hôtel de luxe à Séville ou d'une escapade amoureuse à Venise, le prix reste le même : 175 €. Avec une assistance utilisateur ultra compétente et une communauté d'utilisateur qui ne cesse de croître, Hewago est le moyen le plus facile de se laisser surprendre le temps d'un weekend !</p>

					<div class="md-margin-top">
						<%= link_to "Réserve ton voyage", root_path, class:"cta-yellow-full cta-md" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>