<!-- facebook javascript SDK  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="grey-section">
	<div class="container">
		<h2 class="text-center">Nous serions ravis de discuter avec toi</h2>
		<p class="text-center text16">Pose-nous toutes tes questions nous y répondrons dans les plus brefs délais</p>
		<div class="text-center sm-margin-top">
			<div class="fb-page" data-href="https://www.facebook.com/hewago" data-tabs="messages" data-width="500" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-hide-cta="true">
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/hewago">
						<a href="https://www.facebook.com/hewago">Hewago</a>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="text-center sm-margin-top">
			<p>Vous pouvez aussi nous contacter sur <a href="http://twitter.com/hewago_" target="_blank">Twitter</a><br>
			Par email:<a href="mailto:contact@hewago.com">contact@hewago.com</a></p>
		</div>
	</div>
</section>