<section class="grey-section">
	<div class="container">
		<h2 class="text-center md-margin-bottom">Comment pouvons-nous vous aider? :)</h2>

		<div class="row no-margin">
			<div class="col-sm-3 no-padding">
				<ul class="side-nav nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#travel-information" aria-controls="travel-information" role="tab" data-toggle="tab">Renseignements sur le voyage</a></li>
					<li role="presentation"><a href="#change-insurance"  aria-controls="change-insurance" role="tab" data-toggle="tab">Changements et assurances</a></li>
					<li role="presentation"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Tarifs</a></li>
					<li role="presentation"><a href="#luggage" aria-controls="luggage" role="tab" data-toggle="tab">Bagages</a></li>
					<li role="presentation"><a href="#time-delay" aria-controls="time-delay" role="tab" data-toggle="tab">Horaires et retards</a></li>
					<li role="presentation"><a href="#special-needs" aria-controls="special-needs" role="tab" data-toggle="tab">Besoins particuliers</a></li>
					<li role="presentation"><a href="#children" aria-controls="children" role="tab" data-toggle="tab">Enfants</a></li>
					<li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">D'autres questions ?</a></li>
				</ul>
			</div>

			<div class="col-sm-9 no-padding tab-content md-margin-bottom">
				<div role="tabpanel" class="tab-pane active" id="travel-information">
					<div class="box">
						<div class="box-header">Renseignements sur le voyage</div>
						<div class="box-body">
							<h4>Qu’est-ce que Hewago?</h4>
							<p>Hewago est une nouvelle façon de partir en weekend. Vous pouvez voyager le week-end prochain dès 175 €, vols aller-retour et hôtel compris vers une destination surprise, sélectionnez les villes que vous ne voulez pas visiter et faites votre réservation. Deux jours avant de partir, nous vous ferons parvenir les billets et vous saurez dans quelle ville vous partez.</p>
							<p>Osez vivre votre prochaine aventure ce week-end!</p>

							<h4 class="sm-margin-top">Combien de temps à l’avance dois-je réserver?</h4>
							<p>Les places sont limitées, nous vous recommandons de réserver au moins deux semaines à l'avance pour être sur d'avoir une place</p>

							<h4 class="sm-margin-top">Puis-je choisir ma ville de destination?</h4>
							<p>Vous ne pouvez pas choisir où vous voyagez. L’aventure est de ne pas savoir où aller quand vous réservez votre weekend sur Hewago ! Vous pourrez visiter l'une des 12 destinations proposées: Rome, Londres, Istanbul, Barcelone... Vous pouvez voir toutes les destinations possibles en sélectionnant le nombre de passagers et en cliquant sur "C’est parti".</p>
							<p>Si vous ne voulez pas visiter l'une des destinations dans la liste, vous avez la possibilité d'exclure les villes que vous ne voulez pas visiter. Vous pouvez supprimer jusqu’à 6 destinations, la première suppression est gratuite, les suivantes coûtent 5€ par destination supprimée.</p>

							<h4 class="sm-margin-top">Quand vais-je savoir où je vais?</h4>
							<p>Nous allons vous informer de votre destination deux jours avant le départ. Les vols partent le vendredi donc vous recevrez toutes les informations (aéroport, vols, horaires, hébergement) le mercredi. Nous vous ferons parvenir les billets et toutes les informations par email.</p>

							<h4 class="sm-margin-top">Puis-je voyager avec mes amis?</h4>
							<p>Bien sûr! Plus vous serez, plus incroyable sera votre aventure. Pour l’hébergement, nous sélectionnons des chambres de deux si vous partez à 2, 4 ou 6. Si vous partez à 3, vous aurez une chambre de 3. Si vous partez à 5, vous aurez une chambre de 2 et une chambre de 3.</p>

							<h4 class="sm-margin-top">La réservation comprend-elle le petit déjeuner ou la pension alimentaire?</h4>
							<p>Le petit déjeuner peut être inclus selon les hôtels sélectionnés. Cependant, cela n’est pas la norme et Hewago ne prend en charge que le transport et l’hébergement.</p>

							<h4 class="sm-margin-top">Ai-je besoin d'un passeport ou je peux voyager avec ma carte d’identité?</h4>
							<p>Bon nombre de nos destinations sont dans l’Union Européenne et vous pourrez voyager avec votre carte d’identité. Cependant, certaines destinations comme Istanbul nécessitent d’avoir un passeport à jour.</p>
							<p>Si vous n’avez pas de passeport, pensez à éliminer les destinations pour lesquelles il est essentiel d’en avoir un.</p>
							<p>Vérifiez bien que vos papiers sont en ordre avant de partir en voyage.</p>

							<h4 class="sm-margin-top">Puis-je payer en Euro ou vais-je devoir changer de monnaie?</h4>
							<p>L'euro est la monnaie officielle de la plupart de nos destinations, mais il y’a d'autres destinations pour lesquelles il vous faudra changer de monnaie. Quand nous vous indiquerons votre destination, nous vous informerons de la monnaie officielle du pays.</p>
							<p>Pour changer votre monnaie, vous pouvez le faire à votre banque locale, aux aéroports ou à une maison de change.</p>

							<h4 class="sm-margin-top">Avec quelles compagnies aériennes travaillez-vous?</h4>
							<p>Nous travaillons avec différentes compagnies aériennes en fonction du weekend sélectionné, du nombre de voyageurs et de la destination. Nous ne pouvons pas vous dire avec quelle compagnie vous voyagerez, mais vous partirez toujours d’<b>Orly</b> ou de <b>Charles de Gaulle</b>.</p>

							<h4 class="sm-margin-top">Quel sera mon logement?</h4>
							<p>Nous avons apporté un soin tout particulier au choix des hôtels. Vous ne serez jamais déçu.</p>
							<p>Les hôtels sont toujours très bien placés et offrent un confort recommandé par nombre de voyageurs.</p>
							<p>Vous recevrez toutes les informations sur votre hébergement 2 jours avant votre départ.</p>

							<h4 class="sm-margin-top">Si je réserve à nouveau un voyage avec Hewago, je vais voyager à un endroit différent ou je peux aller à la même destination?</h4>
							<p>Si vous aimez l'expérience Hewago et que vous voulez la revivre, vous pouvez supprimer les villes déjà visitées pour 5€ par ville et par voyageur (la première ville supprimée est gratuite).</p>
							<p>Dans le cas où vous ne supprimez pas la ville que vous avez visitée, nous ne pouvons vous assurer que vous ne partirez pas au même endroit.</p>
							<p>Cependant, nous connaissons les réservations de nos clients donc nous essayons de vous faire voyager à de nouveaux endroits et nous renouvellons les destinations tous les 6 mois.</p>

							<h4 class="sm-margin-top">Puis-je voyager seul?</h4>
							<p>Non, vous ne pouvez pas voyager seul. Il vous faut trouver des amis qui aiment autant l’aventure que vous!</p>
							<p>Le nombre minimum de voyageur est de deux personnes, et peut aller jusqu'a six.</p>

							<h4 class="sm-margin-top">Puis-je voyager même sans avoir la nationalité française?</h4>
							<p>Toutes les personnes ayant la nationalité d’un état membre de Schengen peuvent voyager avec Hewago. Pour voyager, vous avez uniquement besoin de votre passeport ou carte d'identité et d'indiquer votre nationalité dans les données de réservation.</p>

							<h4 class="sm-margin-top">Combien de personnes seront dans ma chambre?</h4>
							<p>Nous sélectionnons des chambres de deux si vous partez à 2, 4 ou 6.
							<br>Si vous partez à 3, vous aurez une chambre de trois.
							<br>Si vous partez à 5, vous aurez une chambre de deux et une chambre de trois.</p>

							<h4 class="sm-margin-top">Puis-je offrir une réservation Hewago ?</h4>
							<p>Nous travaillons actuellement sur cette nouvelle fonctionnalité.</p>

						</div>
					</div>
				</div> <!-- end tabpanel #travel-information -->

				<div role="tabpanel" class="tab-pane" id="change-insurance">
					<div class="box">
						<div class="box-header">Changement et Assurances</div>
						<div class="box-body">
							<h4>Puis-je souscrire une assurance Voyage?</h4>
							<p>Toutes les compagnies aériennes que nous sélectionnons incluent une assurance de vol basique. <b>Il ne s'agit pas d'une assurance Hewago</b> mais d'une assurance de la compagnie aérienne incluse au moment de l'achat des billets.</p>

							<h4 class="sm-margin-top">Puis-je annuler ou modifier une réservation?</h4>
							<p>Aucune assurance annulation n'est incluse dans le prix du voyage, nous ne pouvons pas effectuer de remboursement. Une fois votre réservation effectuée, elle ne peut pas être changée car nous commençons à acheter des billets au moment du paiement. En cas de doute, vous pouvez vérifier nos <%= link_to "termes et conditions.", terms_path %></p>
						</div>
					</div>
				</div> <!-- end tabpanel #change-insurance -->

				<div role="tabpanel" class="tab-pane" id="price">
					<div class="box">
						<div class="box-header">Tarifs</div>
						<div class="box-body">
							<h4>Quel est le prix?</h4>
							<p>Le prix de 175 € comprend les billets d'avion, aller-retour et deux nuits, vendredi et samedi, dans un hôtel sélectionné spécialement par notre équipe.</p>
							<p>La nourriture ou les transferts ne sont pas inclus dans le prix. Certaines villes comprennent une taxe de séjour (compris entre 1 et 5 €) à payer directement à l'hôtel, cette taxe n’est pas inclus dans le prix.</p>
						</div>
					</div>
				</div> <!-- end tabpanel #price -->

				<div role="tabpanel" class="tab-pane" id="luggage">
					<div class="box">
						<div class="box-header">Bagages</div>
						<div class="box-body">
							<h4>Puis-je apporter des bagages?</h4>
							<p>Vous pouvez voyager avec un bagage à main gratuitement. Vous pouvez voir les dimensions standard des bagages à main sur le site de la compagnie aérienne avec laquelle vous voyagerez.</p>
						</div>
					</div>
				</div> <!-- end tabpanel #luggage -->

				<div role="tabpanel" class="tab-pane" id="time-delay">
					<div class="box">
						<div class="box-header">Horaires et retards</div>
						<div class="box-body">
							<h4>Quand les voyages ont-ils lieu?</h4>
							<p>Les voyages s’effectuent toujours le week-end, du vendredi au dimanche. Si vous n’avez pas établi de préférences sur vos heures de départ et de retour, vous pourrez partir à tout moment le vendredi et revenir à tout moment le dimanche.</p>

							<h4 class="sm-margin-top">A quelle heure part mon avion?</h4>
							<p>Les vols peuvent partir à tout moment le vendredi pour l’aller et le dimanche pour le retour. Si vous souhaiter partir ou revenir dans un intervalle de temps particulier, vous pouvez sélectionner le moment qui vous convient le plus au moment de votre réservation en vous acquittant d’une taxe supplémentaire.</p>

							<h4 class="sm-margin-top">A quelle heure mon vol sera si je demande le matin, l'après-midi ou le soir ?</h4>
							<p>Si vous sélectionnez le matin, votre vol sera en 6h et 12h.
							<br>Si vous sélectionnez l’après-midi votre vol sera en 12h et 18h.
							<br>Si vous sélectionnez le soir, votre vol sera après 18h.</p>

							<h4 class="sm-margin-top">Que dois-je faire si mon vol est en retard?</h4>
							<p>Dans le cas où votre vol est en retard ou annulé, nous vous rappelons vos droits en tant que passager:
							<ul>
								<li>La compagnie aérienne doit offrir aux passagers nourriture et boisson si le vol est retardé de plus de quatre heures</li>
								<li>Si le vol est reprogrammé pour le lendemain, la compagnie aérienne offrira également l'hébergement et le transport à l'hébergement alloué</li>
								<li>Si le vol est annulé, la compagnie aérienne est responsable du replacement des passagers sur un autre vol ou du remboursement du billet</li>
							</ul>
							Hewago n’est pas et ne peut être tenu responsable des retards et des annulations de vols.</p>

						</div>
					</div>
				</div> <!-- end tabpanel #time-delay -->

				<div role="tabpanel" class="tab-pane" id="special-needs">
					<div class="box">
						<div class="box-header">Besoins particuliers</div>
						<div class="box-body">
							<h4>Existe-t-il des limitations pour les passagers ayant des besoins spéciaux?</h4>
							<p>Dans le cas où un des passager a des besoins particuliers, il faudra nous en informer dans les commentaires lors de la réservation.</p>

							<h4 class="sm-margin-top">Puis-je voyager pendant ma grossesse?</h4>
							<p>Avant de voler, toujours consulter votre médecin. Dans une grossesse sans complication de 28 semaines, les femmes enceintes sont obligées d’apporter un formulaire médical dans lequel il est précisé que vous êtes “apte à voler”. Certaines compagnies aériennes se réservent le droit de ne pas accepter à bord des femmes enceintes de plus de 28 semaines.</p>
						</div>
					</div>
				</div> <!-- end tabpanel #special-needs -->

				<div role="tabpanel" class="tab-pane" id="children">
					<div class="box">
						<div class="box-header">Enfants</div>
						<div class="box-body">
							<h4>Puis-je voyager avec des enfants? Paient-ils en tant que passagers?</h4>
							<p>Vous pouvez voyager avec des enfants, le tarif est le même que pour les passagers adultes.</p>

							<h4 class="sm-margin-top">Les mineurs peuvent-ils voyager seuls?</h4>
							<p>Loi concernant un enfant mineur voyageant seul ou avec un adulte ne disposant pas de l’autorité parentale:
								<br>Depuis le 1er janvier 2013 les enfants mineurs de nationalité française n’ont plus besoin d’autorisations de sortie du territoire (AST) pour voyager.</p>
								<p>Un mineur seul ou accompagné d’un adulte ne disposant pas de l’autorité parentale, peut voyager en Europe s’il est en possession d’un des documents suivants :
									<ul>
										<li>sa carte nationale d’identité, en cours de validité (uniquement pour les pays de l’Union européenne, ainsi que l’Islande, la Norvège, la Suisse, le Lichtenstein, Monaco, Andorre, Saint-Marin, et le Saint-Siège)</li>
										<li>ou son passeport, en cours de validité.</li>
									</ul>
									<p>Pour toutes les autres destinations, le même mineur doit être porteur de son passeport personnel, en cours de validité (qui peut, en fonction de la destination, être accompagné d’un visa).</p>
									<p>Pensez à vous renseigner, préalablement au voyage, auprès de l’ambassade ou du consulat du pays de destination sur les documents exigés à l’arrivée sur le territoire. Ces documents peuvent en effet varier en fonction du pays.</p>
						</div><!-- end box-body -->
					</div><!-- end box -->
				</div> <!-- end tabpanel #children -->

				<div role="tabpanel" class="tab-pane" id="contact">
					<div class="box">
						<div class="box-header">D'autres questions ? Contacter-nous !</div>
						<div class="box-body">
							<h4>Vous ne trouvez pas ce que vous cherchez ou vous avez d'autres question ?</h4>
							<p>N'hésitez pas à nous contacter et nous vous répondrons dans les plus brefs délais !</p>
							<p>Veuillez consulter la page <%= link_to "Contact", contact_path %> pour connaître les différentes façon de nous contacter</p>
						</div>
					</div>
				</div> <!-- end tabpanel #children -->
			</div> <!-- End col-sm-9 -->
		</div><!-- End row -->
	</div><!-- End container -->
</section>