<section class="grey-section">
	<div class="container">
		<h2 class="text-center md-margin-bottom">Comment ça marche?</h2>

		<div class="row no-margin">
			<div class="col-sm-3 no-padding">
				<ul class="side-nav nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#concept" aria-controls="concept" role="tab" data-toggle="tab">Le concept</a></li>
					<li role="presentation"><a href="#destinations"  aria-controls="destinations" role="tab" data-toggle="tab">Les destinations</a></li>
				</ul>
			</div>

			<div class="col-sm-9 no-padding tab-content md-margin-bottom">
				<div role="tabpanel" class="tab-pane active" id="concept">
					<h3>Qu’est-ce que Hewago?</h3>
					<p>Hewago est une nouvelle façon de partir en weekend. Vous pouvez voyager le week-end prochain pour un prix fixe de 175 €, vols aller-retour et hôtel compris, vers une destination surprise. Sélectionnez les villes que vous ne voulez pas visiter et faites votre réservation. Deux jours avant de partir, nous vous ferons parvenir les billets et vous saurez dans quelle ville vous partez.</p>
					<p>Osez vivre votre prochaine aventure ce week-end!</p>
					<div class="media">
						<div class="media-left">
							<%= image_tag("how-it-works/icon-travelers.jpg", class:"media-object img-circle", width:"125px") %>
						</div>
						<div class="media-body media-middle"><h4>Indique le nombre de voyageurs</h4></div>
					</div>
					<div class="media">
						<div class="media-left">
							<%= image_tag("how-it-works/icon-calendar.jpg", class:"media-object img-circle", width:"125px") %>
						</div>
						<div class="media-body media-middle"><h4>Sélectionne les dates de ton week-end</h4></div>
					</div>
					<div class="media">
						<div class="media-left">
							<%= image_tag("how-it-works/icon-cities.jpg", class:"media-object img-circle", width:"125px") %>
						</div>
						<div class="media-body media-middle text16"><h4>Elimine les villes que tu ne souhaites pas visiter</h4></div>
					</div>
					<div class="media">
						<div class="media-left">
							<%= image_tag("how-it-works/icon-email.jpg", class:"media-object img-circle", width:"125px") %>
						</div>
						<div class="media-body media-middle text16"><h4>2 jours avant le week-end, nous t'envoyons par email la destination</h4></div>
					</div>
					<h3 class="md-margin-top">Le pack Hewago contient:</h3>
					<div class="col-xs-6 xs-margin-top no-padding-left">	
						<div class="box">
							<div class="box-body text18 text-center"><%= image_tag("how-it-works/plane-icon.png", width:"64px") %>&nbsp;&nbsp;<b>Vols aller et retour</b></div>
						</div>
					</div>
					<div class="col-xs-6 xs-margin-top no-padding-right">
						<div class="box">
							<div class="box-body text18 text-center"><%= image_tag("how-it-works/hotel-icon.png", width:"64px") %>&nbsp;&nbsp;<b>2 nuits d'hôtel</b></div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="destinations">
					<h3>Les destinations Hewago</h3>
					<p>Découvre les 12 destinations possibles depuis Paris en utilisant le service Hewago.</p>
					<div class="col-sm-8 col-sm-offset-2 sm-margin-top">	
						<%= image_tag("how-it-works/euromap-pattern.png", class:"img-responsive") %>
					</div>
					<div class="col-sm-6 col-xs-6 barcelone-picture md-margin-top no-padding">
						<%= image_tag("destination/barcelone.jpg", class:"destination-picture") %>
						<span class="hover-destination">Barcelone</span>
					</div>
					<div class="col-sm-3 col-xs-6 porto-picture md-margin-top no-padding">
						<%= image_tag("destination/porto.jpg", class:"destination-picture") %>
						<span class="hover-destination">Porto</span>
					</div>
					<div class="col-sm-3 col-xs-6 milan-picture md-margin-top no-padding">
						<%= image_tag("destination/milan.jpg", class:"destination-picture") %>
						<span class="hover-destination">Milan</span>
					</div>
					<div class="col-sm-3 col-xs-6 amsterdam-picture sm-margin-top no-padding">
						<%= image_tag("destination/amsterdam.jpg", class:"destination-picture") %>
						<span class="hover-destination">Amsterdam</span>
					</div>
					<div class="col-sm-6 col-xs-6 rome-picture sm-margin-top no-padding">
						<%= image_tag("destination/rome.jpg", class:"destination-picture") %>
						<span class="hover-destination">Rome</span>
					</div>
					<div class="col-sm-3 col-xs-6 geneve-picture sm-margin-top no-padding">
						<%= image_tag("destination/geneve.jpg", class:"destination-picture") %>
						<span class="hover-destination">Genève</span>
					</div>
					<div class="col-sm-3 col-xs-6 berlin-picture sm-margin-top no-padding">
						<%= image_tag("destination/berlin.jpg", class:"destination-picture") %>
						<span class="hover-destination">Berlin</span>
					</div>
					<div class="col-sm-3 col-xs-6 istanbul-picture sm-margin-top no-padding">
						<%= image_tag("destination/istanbul.jpg", class:"destination-picture") %>
						<span class="hover-destination">Istanbul</span>
					</div>
					<div class="col-sm-6 col-xs-6 londres-picture sm-margin-top no-padding">
						<%= image_tag("destination/londres.jpg", class:"destination-picture") %>
						<span class="hover-destination">Londres</span>
					</div>
					<div class="col-sm-6 col-xs-6 venise-picture sm-margin-top no-padding">
						<%= image_tag("destination/venise.jpg", class:"destination-picture") %>
						<span class="hover-destination">Venise</span>
					</div>
					<div class="col-sm-3 col-xs-6 seville-picture sm-margin-top no-padding">
						<%= image_tag("destination/seville.jpg", class:"destination-picture") %>
						<span class="hover-destination">Séville</span>
					</div>
					<div class="col-sm-3 col-xs-6 nice-picture sm-margin-top no-padding">
						<%= image_tag("destination/nice.jpg", class:"destination-picture") %>
						<span class="hover-destination">Nice</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>