<section class="welcome-homepage">
	<div class="container-fluid">
		<h1>Seul le voyage compte, pas la destination</h1>
		<p class="subtitle-homepage">Passe ton week-end dans une ville surprise, vols et hôtel dès 175€</p>
	</div>

	<div class="row search-bar-background-container">
		<div class="search-bar-background">
			<%= form_tag("/reservations/new", method: "get", class: 'search-bar') do %>
			<%= label_tag(:number_of_traveler, "Nous sommes") %>
				<label class="search-selector-label">
					<%= select_tag(:number_of_traveler, options_for_select(
						[['2 voyageurs',2],['3 voyageurs',3],['4 voyageurs',4],['5 voyageurs',5],['6 voyageurs',6]]),{class:"search-selector"})  %>
				</label>
				<%= label_tag(:from, "de") %>
				<label class="search-selector-label">
					<%= select_tag(:from, options_for_select([['Paris','Paris']]), {class:"search-selector"}) %>
				</label>
				<%= submit_tag("C'est parti!", class: 'btn-yellow') %>
			<% end %>
		</div>
	</div>

	<div class="search-bar-responsive-container" id="search-bar-responsive">
		<div class="search-input-responsive">
			<span>Avec qui pars-tu?</span>
		</div>
		<div class="search-button-responsive">
			<i class="fa fa-search"></i>
		</div>
	</div>

	<div class="search-modal">
		<div class="search-modal-header">
			<button id="close-search-modal" class="close"><span>&times;</span></button>
			<h4 class="modal-title text-center">Prépare ton week-end</h4>
		</div>

		<div class="modal-body">
			<div class="search-form-responsive">
				<%= form_for @reservation, :html => {:class => 'search-bar'} do |f| %>
				  	<% if @reservation.errors.any? %>
					    <div id="error_explanation">
					        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
						    <ul>
						      <% @reservation.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						      <% end %>
						    </ul>
					    </div>
					<% end %>

			    	<%= f.label "Nous sommes", class:"md-margin-top text16" %>
					<div class="row">
						<label class="xs-margin-top">
							<%= f.select(:number_of_traveler,
						 		[['2 voyageurs',2],['3 voyageurs',3],['4 voyageurs',4],['5 voyageurs',5],['6 voyageurs',6]],
								{},
						 		{class:"search-selector-responsive"})  %>
						</label>
					</div>
				    <%= f.label 'de', class:"xs-margin-top text16" %>
					<div class="row">
						<label class="xs-margin-top">
				  			<%= f.select :from, [['Paris','Paris']],{},{class:"search-selector-responsive"} %>
						</label>
					</div>

					<%= f.submit 'Partir en week-end&nbsp;&nbsp;<i class="fa fa-paper-plane"></i>', id:"submit-location", class:"btn-lg btn-block btn-search-responsive sm-margin-top" %>
				<% end %>
			</div>
		</div><!-- End modal -->
	</div>
</section>




<section class="small-grey-section">
	<div class="container">
		<h2 class="text-center">Comment voyager avec Hewago?</h2>
		<p class="col-sm-10 col-sm-offset-1 text-center text16 md-margin-bottom">Hewago est la nouvelle façon de partir en week-end. Donne-nous une date et pour 175€ par voyageur, nous réservons ton week-end dans une des douze destinations européennes. Vols aller et retour, deux nuits d'hôtel dans une destination surprise!</p>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="circle">
					<%= image_tag("index/icon-plane-hotel.jpg", class:"img-circle", width:"175px") %>
				</div>
				<h4 class="sm-margin-top dark-grey">175€ vols + hôtel</h4>
				<div class="col-xs-offset-2 col-xs-8 md-margin-bottom">Sélectionne la date de ton week-end (2 nuits d'hôtel)</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="circle">
					<%= image_tag("index/icon-europe-map.jpg", class:"img-circle", width:"175px") %>
				</div>
				<h4 class="sm-margin-top dark-grey">Une destination surprise</h4>
				<div class="col-xs-offset-2 col-xs-8 md-margin-bottom">Elimine les destinations que tu ne souhaites pas visiter</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="circle">
					<%= image_tag("index/icon-email.jpg", class:"img-circle", width:"175px") %>
				</div>
				<h4 class="sm-margin-top dark-grey">Découvre ta destination</h4>
				<div class="col-xs-offset-2 col-xs-8 md-margin-bottom">Deux jours avant le départ, nous t'envoyons la destination!</div>
			</div>
		</div>
		<div class="text-center">
			<%= link_to "En savoir plus", how_it_works_path, class:"cta-yellow-light" %>
		</div>
	</div>
</section>

<section class="white-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-left sm-margin-top">Une surprise au départ, pas à l'arrivée</h2>
				<p class="text16">Chez Hewago nous voulons que nos utilisateurs vivent une expérience inoubliable et profitent pleinement de leur aventure.</p>
				<p class="text16">C'est pourquoi nous ne travaillons qu'avec des hôtels de qualité, situés dans le centre-ville de la destination surprise et recommandés par plusieurs voyageurs.</p>
				<p class="text16">Ainsi pas de mauvaise surprise! Alors, prêt(e) pour l'aventure?</p>
			</div>
			<div class="col-sm-6">
				<%= image_tag("index/hotel-bedroom.jpg", class:"img-responsive") %>
			</div>
		</div>
	</div>
	<div class="text-center lg-margin-top">
		<a class="cta-yellow-full cta-lg" href="">Réserve ton week-end</a>
	</div>
</section>

<section class="small-grey-section">
	<div class="container">
		<h2 class="text-center">Découvre nos aventuriers</h2>
		<p class="col-sm-10 col-sm-offset-1 text-center text16">Plusieurs de nos utilisateurs ont déjà pu passer leur week-end dans une destination surprise. Lis leur témoignages et laisse-toi tenter par l'aventure, expérience inoubliable garantie!</p>
	</div>
	<div class="container-fluid md-margin-top">
		<div class="row no-margin">
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "julien_bonheur_milano") do %>
					<%= image_tag("testimonials/julien_bonheur_milano.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-yellow"><span class="text-hover-testimonials">Julien et Bonheur</span><br><span class="text-italic">Milan</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "pierre_agathe_amsterdam") do %>
					<%= image_tag("testimonials/pierre_agathe_amsterdam.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-pink"><span class="text-hover-testimonials">Pierre et Agathe</span><br><span class="text-italic">Amsterdam</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "kevin_alexia_seville") do %>
					<%= image_tag("testimonials/kevin_alexia_seville.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-blue"><span class="text-hover-testimonials">Kevin et Alexia</span><br><span class="text-italic">Séville</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "ornella_claire_nice") do %>
					<%= image_tag("testimonials/ornella_claire_nice.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-yellow"><span class="text-hover-testimonials">Ornella et Claire</span><br><span class="text-italic">Nice</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
		</div>
		<div class="row no-margin hidden-responsive">
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "chloe_aurelie_estelle_milan") do %>
					<%= image_tag("testimonials/chloe_aurelie_estelle_milan.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-blue"><span class="text-hover-testimonials">Chloé, Aurélie et Estelle</span><br><span class="text-italic">Milan</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "alexis_istanbul") do %>
					<%= image_tag("testimonials/alexis_istanbul.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-yellow"><span class="text-hover-testimonials">Alexis, Hicham et Elise</span><br><span class="text-italic">Istanbul</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "david_estelle_rome") do %>
					<%= image_tag("testimonials/david_estelle_rome.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-yellow"><span class="text-hover-testimonials">David et Estelle</span><br><span class="text-italic">Rome</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
			<div class="col-sm-3 no-padding hover">
				<%= link_to testimonials_path(:anchor => "karim_david_amsterdam") do %>
					<%= image_tag("testimonials/karim_david_amsterdam.jpg", class:"img-responsive") %>
					<span class="testimonials-homepage-pink"><span class="text-hover-testimonials">Karim et David</span><br><span class="text-italic">Amsterdam</span><br><button class="cta-white-light xs-margin-top">Lire le témoignage</button></span>
				<% end %>
			</div>
		</div>
		<div class="md-margin-top text-center">
			<%= link_to "Plus de témoignages", testimonials_path, class:"cta-pink-light" %>
		</div>
	</div>
</section>
