<section class="grey-section">
	<div class="container">

		<h1>Conditions contractuelles de service de hewago.com et réglementation de la vie privée</h1>
		<p>Bienvenue sur www.hewago.com, le service fourni par HEWAGO qui vous permet d’organiser un voyage vers une destination surprise.</p>

		<p>Nous vous prions aimablement de bien vouloir lire attentivement et d'accepter les termes et conditions qui suivent ("T&C") régissant le service (le "Service") que HEWAGO met à la disposition de l'URL www.hewago.com (le "Site Web"). HEWAGO se réserve le droit de modifier les T&C sans préavis lorsque ces modifications se révèlent nécessaires en raison de changements des conditions du marché, de modifications réglementaires et normatives ou en cas de modifications du facteur de risque à la charge de HEWAGO concernant la fourniture du Service à travers le Site. La version actualisée des T&C sera toujours disponible à la page web qui se trouve à l'URL http://hewago.com/terms.php</p>

		<p>Rappelez-vous, en tout état de cause, que l'utilisation du Site Web et de ses fonctions librement accessibles comporte l'acceptation de votre part aux présentes T&C.
		Les Termes et Conditions d'Utilisation du Site www.hewago.com</p>

		<h2 class="sm-margin-top">1 - Description du Service</h2>
		<p>L'Usager pourra accéder au Service de HEWAGO qui est composé de l’organisation d’un voyage d’une durée d’un weekend, pour un prix dès 175 €, dans une destination surprise, choisie par HEWAGO, et qui sera révèlée 2 jours avant la date de départ.</p>

		<h2 class="sm-margin-top">2 - Utilisation du Site Web - Ordres d'achat</h2>
		<p>L'Usager peut visiter librement le Site Web et utiliser ses fonctions uniquement pour des finalités personnelles et non commerciales. En effectuant ses propres recherches sur le moteur de recherche ou en effectuant des réservations ou des ordres d'achat, l'Usager reconnaît et déclare agir directement dans un but personnel.</p>
		<p>En effectuant les recherches, les réservations et les ordres d'achat, l'Usager utilise l'application web moyennant une licence non exclusive et temporaire, concédée en usage pour le temps de l'opération. Cette application permet à l'Usager d'effectuer directement et facilement ses demandes sans avoir besoin d'une connexion parallèle directe au site Internet du fournisseur du service intéressé.</p>
		<p>Il est interdit à l'Usager de modifier, réutiliser, copier, diffuser, transmettre, reproduire, publier, concéder en licence ou en usage, créer des travaux dérivés, céder ou vendre ou, en tout état de cause, faire un usage commercial et non personnel des informations, des nouvelles des contenus, du logiciel et des systèmes, des produits obtenus ou qui lui sont disponibles à travers le Site Web et l'utilisation du Service.</p>
		<p>Pour pouvoir utiliser les fonctions du Site Web, l'Usager doit se procurer, bien entendu à ses frais, une connexion à Internet auprès d'un fournisseur fiable. HEWAGO n'est aucunement responsable des éventuels dommages subis par le matériel informatique de l'usager et dérivant directement ou indirectement des connexions Internet.</p>

		<h2 class="sm-margin-top">3 - Règles de conduite</h2>
		<p>L'utilisateur s'engage à utiliser le site Web, ses fonctions et le service pour des buts légaux et selon les T&C. En particulier, l'utilisateur s'engage à n'envoyer, ni diffuser, via le site Web et ses fonctions, contenu illicite, diffamatoire, vulgaire, obscène, abusif, ni à employer le site Web et ses fonctions pour ternir l'image et la réputation de HEWAGO ou tout autre perte ou dommages à HEWAGO.</p>
		<p>De plus, l'utilisateur s'engage à ne pas envoyer de communications publicitaires, indésirables et/ou non sollicitées qui pourraient altérer la fonctionnalité et/ou l'utilisation du site Web par les tiers.</p>

		<h2 class="sm-margin-top">4 - Propriété intellectuelle</h2>
		<p>L'Usager prend acte et reconnaît que toutes les informations, données, logiciels, contenus, musiques, sons, photos et images, vidéos et tout autre contenu présent sur le Site Web (les "Contenus") sont de la propriété exclusive de HEWAGO et de ses licenciés.</p>
		<p>A l'exception du droit d'utiliser l'application indiquée au point 3 qui précède, l'Usager n'a pas et n'acquiert aucun droit sur ces Contenus et/ou sur les propriétés du Site Web, à l'exception du droit d'utiliser le Site Web conformément aux T&C. </p>

		<p>L'Usager est autorisé à imprimer et/ou télécharger les Contenus (y compris les T&C) uniquement pour une utilisation personnelle.</p>

		<h2 class="sm-margin-top">5 - Hyperlien sur d'autres sites Web d'Internet</h2>
		<p>Le site Web contient des liens hypertexte vers d'autres ressources d'Internet, comme les associés commerciaux de HEWAGO et/ou de tiers. L'édition des liens hypertexte sur le site Web est destinée à l'usage des utilisateurs et n'implique pas l’identification ou l’approbation du contenu par HEWAGO. D'ailleurs, HEWAGO n'exerce pas de contrôle sur le contenu, l'information et sur les services et/ou produits offerts par les sites Web. HEWAGO n’est pas responsable de l'exactitude, et de la mise à jour d'informations éditées sur les sites Web. L'utilisateur reconnaît que l'utilisation de tels sites Web sera à ses risques et périls.</p>
		<p>La publication d'un lien hypertexte et/ou d'une ressource d'Internet différente sur le site Web n'implique aucun type d'association commerciale et/ou d'affiliation entre HEWAGO et les administrateurs des sites Web liés.</p>

		<h2 class="sm-margin-top">6 - Politique en matière de vie privée et note informative sur le traitement des données personnelles</h2>

		<h3 class="xs-margin-top sm-margin-left">6.1 - Article 1</h3>
		<p>HEWAGO est attentif à l’importance de la protection de la vie privée et des droits de l’utilisateur du site Web et du service. Internet peut être un instrument extrêmement puissant en matière de circulation des données personnelles et HEWAGO s'engage sérieusement à respecter les règles concernant la protection des données personnelles et leur sécurité afin de vous garantir une navigation sûre, contrôlée et confidentielle.</p>
		<p>Des modifications pourront être apportées dans le futur à cette note d’information afin de garantir le respect constant des réglementations légales en vigueur en cas de changement ou de mise à jour de ces dernières.</p>

		<p>Nous invitons les utilisateurs à lire attentivement les règles que nous appliquons pour la collecte et le traitement des données personnelles et pour continuer à fournir un service satisfaisant.</p>
		<h3 class="xs-margin-top sm-margin-left">6.2 - Article 2</h3>
		<p>La présente note d’information, rendue conformément à la réglementation en matière de protection des données personnelles, décrit les modalités de gestion et de traitement des données personnelles des:
		<ul>
			<li>(i) utilisateurs qui consultent et utilisent le site web et des</li>
			<li>(ii) utilisateurs qui font usage du service.</li>
		</ul></p>
		<p>L’utilisateur est tenu de fournir des données personnelles véridiques, correctes et mises à jour afin de créer et de gérer le rapport contractuel avec le titulaire et de procéder correctement à l’achat de la prestation touristique choisie. L’utilisateur reconnaît que dans le cas où les données personnelles communiquées ne seraient pas véridiques, correctes et mises à jour, le titulaire serait dans l'impossibilité de fournir les services prévus.</p>
		<p>Aux termes de la loi applicable sur la protection des données, nous informons par ailleurs l’utilisateur que ses données personnelles sont conservées et traitées par HEWAGO avec les modalités et dans les buts énumérés ci-après, conformément aux modalités et aux fins consenties par la loi applicable sur la protection des données.</p>
		<h3 class="xs-margin-top sm-margin-left">6.3 - Article 3</h3>
		<p>Les titulaires du traitement sont HEWAGO et les sociétés qui entretiennent un rapport de contrôle et de liaison avec celle-ci. La liste complète et actualisée des sociétés qui entretiennent un rapport de contrôle et de liaison avec HEWAGO pourra être demandée à l’adresse suivante: <a href="mailto:privacy_all@hewago.com">privacy_all@hewago.com</a>.</p>
		<h3 class="xs-margin-top sm-margin-left">6.4 - Article 4</h3>
		<p>Les données personnelles des utilisateurs sont collectées :
		<ul>
			<li>auprès de l’utilisateur, en raison de la communication directe qu’il en fait par voie télématique en remplissant le formulaire d'inscription présent sur le site web ou par téléphone. Il s’agit de données telles que nom, prénom, adresse, adresse de courrier électronique, numéro de téléphone, etc. nécessaires pour la sélection et l'achat du vol, de l'hôtel ou de toute autre prestation touristique souhaitée et aux fins ultérieures visées aux présentes conditions.</li>
			<li>par le biais des systèmes informatiques et des procédures logicielles nécessaires au fonctionnement du site web pendant leur exploitation normale, de manière implicite, suite à l’usage des protocoles de communication d’Internet. Il s’agit d’informations qui ne sont pas recueillies dans le but d’être associées à des utilisateurs identifiables mais qui, par leur nature même, pourraient permettre d'identifier les utilisateurs à travers des élaborations et des associations avec des données détenues par des tiers. Cette catégorie de données inclut les adresses IP ou les noms de domaine des ordinateurs employés par les utilisateurs qui se connectent sur le site, les adresses URI (Uniform Resource Identifier - identificateur uniforme de ressource) de localisation des ressources demandées, l’heure de la requête, la méthode utilisée pour transmettre la requête au serveur, la dimension du fichier renvoyé en réponse, le code numérique indiquant l’état de la réponse donnée par le serveur (aboutissement, erreur, etc.) et d’autres paramètres relatifs au système d’exploitation et à l’environnement informatique de l’utilisateur. Ces données sont utilisées dans le seul but d'obtenir des informations statistiques anonymes sur l’utilisation du site et de contrôler son bon fonctionnement. Les données pourraient être utilisées pour établir des responsabilités en cas d'hypothétiques délits informatiques à l’encontre du site.</li>
			<li>par le site web à travers l’utilisation de témoins de connexion. Les témoins (cookies) sont des informations (contenant souvent un code d’identification unique anonyme) envoyées au navigateur par un serveur Web qui sont ensuite mémorisées sur le disque dur de l’ordinateur de l’utilisateur. Les témoins de connexion sont ensuite relus et reconnus par le site web qui les a envoyés lors des connexions suivantes. HEWAGO pourrait utiliser des témoins pour mémoriser et parfois garder la trace de certaines données personnelles fournies par les utilisateurs en vue de procurer un service optimisé à ces derniers.</li>
		</ul></p>
		<p>Les données éventuellement obtenues par les témoins de connexion sont utilisées par le titulaire, directement ou par le biais de sociétés collaborant avec ce dernier, en vue d’assurer un accès au site web et un usage du service plus simple, plus immédiat et plus rapide, afin de faciliter à l’utilisateur la navigation sur le site et à des fins de marketing liées aux services du titulaire. Toutes les données des utilisateurs qui n’auront pas été collectées par le biais de communications directes de ces derniers ne seront utilisées qu’à des fins statistiques de trafic de site et ne seront pas associées à l’utilisateur individuel.</p>
		<p>L’utilisateur pourra interrompre à tout moment la réception des témoins de connexion utilisés sur ce site web en modifiant les paramètres de son navigateur ou la refuser dès le départ par le même biais.</p>
		<h3 class="xs-margin-top sm-margin-left">6.5 - Article 5</h3>
		<p>Le traitement des données personnelles des utilisateurs se fera à l’aide d’un support manuel ou électronique en mesure de garantir, relativement aux fins pour lesquelles elles ont été communiquées et collectées, leur sécurité et leur confidentialité, et d’éviter tout accès non autorisé à ces mêmes données, pendant le temps strictement nécessaire à l’accomplissement des buts pour lesquels elles ont été collectées.</p>

		<h3 class="xs-margin-top sm-margin-left">6.6 - Article 6</h3>
		<p>Hormis les éléments déjà spécifiés pour les données de navigation, les données personnelles fournies par les utilisateurs sont employées aux fins suivantes :
		<ul>
			<li>A. collecte, conservation et élaboration aux fins de l’instauration et de la gestion opérationnelle et administrative du rapport contractuel lié à la fourniture du service;</li>
			<li>B. utilisation des données pour effectuer des communications par courriel, téléphone ou texto relatives au déroulement du rapport contractuel instauré, incluant les communications relatives au bon fonctionnement dudit contrant ;</li>
			<li>C. exécution des obligations légales ou réglementaires en vigueur ;</li>
			<li>D. collecte, conservation et élaboration des données pour réaliser des statistiques sous forme anonyme et/ou intégrée ;</li>
			<li>E. Envoi de la part de hewago par courriel ou tout autre moyen de communication électronique équivalent, lorsqu’autorisé par la législation et sauf refus de l’utilisateur, de matériel publicitaire concernant des produits ou des services analogues ou similaires aux services ou aux produits offerts sur le site web.</li>
			<li>F. sans préjudice des dispositions énoncées à la lettre E) qui précède, et uniquement après avoir obtenu l'autorisation expresse de l’utilisateur, l’envoi de la part des titulaires par courriel, téléphone, courrier, texto ou MMS, des meilleures offres de voyages, de loisirs et autres services par les titulaires mêmes ou par leurs partenaires commerciaux qui opèrent dans les secteurs suivants : tourisme, loisirs, haute technologie, mode, mobilier, grande consommation, boissons et aliments, finance, banques, assurances, énergie, environnement, communication, médias, divertissement, immobilier, industrie pharmaceutique, automobile, habillement et textile, formation, énergie, édition, TIC, retail, sport, télécommunications et services en général.</li>
		</ul></p>
		<h3 class="xs-margin-top sm-margin-left">6.7 - Article 7</h3>
		<p>La non-communication des données personnelles peut mettre l'utilisateur dans l'impossibilité d'obtenir les prestations requises relativement aux fins visées aux points A) et B) de l’article 6.6, et le titulaire dans l’impossibilité de fournir le service dans les meilleures conditions et de s'acquitter des obligations contractuelles prévues dans les conditions générales. Le traitement desdites données aux fins visées aux points A), B), C) D) et E) indiquées à l’article 6.6 ne comporte pas la nécessité de demander l’autorisation de l’intéressé.</p>
		<p>La communication des données aux fins visées au point F) de l’article 6.6 est facultative. Le traitement desdites données aux fins indiquées au point F) de l’article 6.6 comporte la nécessité de demander l'autorisation de l'intéressé. La non-communication des données ou le manque d’obtention de l’autorisation de l’utilisateur à ces fins se traduira par le fait que, sans préjudice des dispositions visées à la lettre E), les titulaires ne pourront pas envoyer à l’utilisateur les offres commerciales indiquées à la lettre F) de l’article 6.6.</p>
		<h3 class="xs-margin-top sm-margin-left">6.8 - Article 8</h3>
		<p>Le titulaire s’engage à garantir que les données personnelles dont il aura connaissance ne seront pas diffusées et seront traitées selon des modalités à même de garantir leur sécurité et leur confidentialité, ainsi qu’à éviter tout accès non autorisé à ces mêmes données. Les données personnelles et les informations fournies par les utilisateurs pourront être communiquées, aux fins susmentionnées, aux catégories de sujets suivants :

		<ul>
			<li>aux salariés et/ou collaborateurs qui se livrent à des activités d'assistance et de consultation au profit du titulaire dans les services suivants : administration, produit, juridique, après-vente, systèmes informatiques, ainsi qu’aux personnes chargées de la maintenance du réseau d'entreprise et des plateformes matérielles et logicielles utilisées ;</li>
			<li>aux compagnies aériennes, aux établissements hôteliers, aux agences de location de voitures, aux compagnies d'assurance, aux voyagistes et à tous les autres sujets auxquels la transmission se rende nécessaire pour l’exécution du contrat. En application des nouvelles règles introduites aux États-Unis et dans d'autres états, les compagnies aériennes sont tenues de permettre aux autorités douanières et frontalières d'accéder aux données des passagers de leurs vols. Par conséquent, si les règles du secteur l’exigent, les informations sur l'utilisateur et ses voyages recueillies par HEWAGO pourront être communiquées par cette dernière aux autorités compétentes des pays concernés par l'itinéraire de son voyage.</li>
			<li>aux sujets dont la faculté d'accès aux données est reconnue par des dispositions légales ou par des ordres émanant des autorités;</li>
			<li>aux sujets délégués et/ou chargés par les titulaires de l’accomplissement des démarches liées à la fourniture du service.</li>
		</ul></p>
		<p>La liste nominale des sujets à qui les données personnelles des utilisateurs pourront être communiquées est disponible auprès de HEWAGO en écrivant à <a href="mailto:privacy_all@hewago.com">privacy_all@hewago.com</a></p>

		<h3 class="xs-margin-top sm-margin-left">6.9 - Article 9</h3>
		<p>Chaque utilisateur pourra exercer, par le biais d’une requête écrite à envoyer au titulaire, les droits suivants : (i) obtenir du titulaire la confirmation de l’existence de ses données personnelles ; (ii) avoir connaissance de l’origine des données, des fins et des modalités du traitement, ainsi que de la logique appliquée en cas de traitement effectué à l’aide de supports électroniques ; (iii) obtenir les références d’identification du titulaire et des responsables du traitement éventuellement désignés ; (iv) connaître les sujets ou les catégories de sujets auxquels les données personnelles peuvent être communiquées ou qui peuvent en avoir connaissance en leur qualité de représentant désigné sur le territoire de l'état, de responsables ou de préposés ; (v) obtenir l'annulation, la transformation sous forme anonyme ou le blocage des données traitées en violation de la loi, ainsi que la mise à jour, la rectification ou, le cas échéant, l’intégration des données et (vi) l’attestation que les opérations visées au point (v) qui précède ont été portées à la connaissance, y compris pour ce qui est de leur contenu, de ceux auxquels les données ont été communiquées ou diffusées, sauf dans le cas où cette opération se révèlerait impossible ou comporterait l’emploi de moyens disproportionnés par rapport au droit protégé ; (vii) s’opposer au traitement, en tout ou en partie, pour des motifs légitimes ; (viii) s’opposer au traitement pour l’envoi de matériel publicitaire ou de vente directe ou pour la réalisation d’études de marché ou de communication commerciale. Les requêtes susmentionnées doivent être adressées à HEWAGO, à l’adresse <a href="mailto:privacy_all@hewago.com">privacy_all@hewago.com.</a></p>
		<p>Par ailleurs, et toujours sur demande expresse écrite par courriel, l'utilisateur a le droit d'obtenir la rectification de chaque donnée personnelle inexacte ou imprécise ou d'en obtenir l'annulation, dans les limites prévues par la loi.</p>

		<h2 class="sm-margin-top">7 - Choix de la loi applicable et attribution exclusive de juridiction</h2>
		<p>Les Termes et Conditions ainsi que la relation entre l'Utilisateur et HEWAGO sont régis, dans les limites autorisées par la réglementation applicable, par la loi française.  Toujours dans la limite de ce que la réglementation applicable et les accords internationaux autorisent, les parties conviennent que le règlement de tout différend qui pourrait naître entre elles concernant ces Termes et Conditions et la relation qui se sera instaurée entre ces dernières sera de la compétence exclusive des tribunaux de droit commun du siège de HEWAGO. HEWAGO se réserve par ailleurs le droit d'assigner l'Utilisateur devant les tribunaux compétents de son domicile.</p>
	</div>
</section>