<section class="grey-section">
	<div class="container marketing">
		<h2 class="text-center">Découvre l'avis de nos aventuriers</h2>
		<p class="text-center text18">Eux aussi sont partis en week-end surprise! Découvre leur témoignage après leur expérince Hewago.</p>

		<div id="alexis_istanbul" class="row featurette md-margin-top">
			<div class="col-md-7">
				<h2 class="featurette-heading">Alexis, Hicham et Elise &middot; <span class="text-muted">Istanbul</span></h2>
				<p class="lead">Merci Hewago ! Départ depuis CDG, hôtel 4* en plein centre .. On aurait difficilement pu avoir une meilleure surprise !!!</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/alexis_istanbul.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="nicolas_jinglin_venise" class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Nicolas et Léa &middot; <span class="text-muted">Venise</span></h2>
				<p class="lead">Superbe séjour en amoureux !</p>
			</div>

			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("testimonials/nicolas_lea_venise.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="karim_david_amsterdam" class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Karim et David &middot; <span class="text-muted">Amsterdam</span></h2>
				<p class="lead">Petit weekend oklm entre poto prévu en dernière mn! merci hewago</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/karim_david_amsterdam.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="marc_anna_london" class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Siham et Charles  &middot; <span class="text-muted">Londres</span></h2>
				<p class="lead">Belle surprise de la part d’Hewago, on a passé Halloween à Londres! Génial !!</p>
			</div>

			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("testimonials/siham_charles_londres.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="ornella_claire_nice" class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Ornella et Claire &middot; <span class="text-muted">Nice</span></h2>
				<p class="lead">Superbe séjour et temps à Nice, on s’est vraiment éclatée!</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/ornella_claire_nice.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="david_estelle_rome" class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">David et Estelle &middot; <span class="text-muted">Rome</span></h2>
				<p class="lead">On a passé un super séjour! 2ème fois qu’on va à Rome, on est vraiment fan de cette ville! Avec Hewago, on ne part pas de Beauvais mais bien d’un aéroport parisien et ça c’est vraiment cool! :D</p>
			</div>

			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("testimonials/david_estelle_rome.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="chloe_aurelie_estelle_milan" class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Chloé, Aurélie et Estelle &middot; <span class="text-muted">Milan</span></h2>
				<p class="lead">MERCI HEWAGO ! C’était vraiment génial !! Milan pour les soldes avec un hôtel de luxe en plein centre ville… WAHOU ! C’était parfait :)</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/chloe_aurelie_estelle_milan.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="manon_amandine_jules_simon_barcelone" class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Manon et Simon &middot; <span class="text-muted">Barcelone</span></h2>
				<p class="lead">weekend parfait avec un petit tour au Camp Nou! merci hewago</p>
			</div>

			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("testimonials/manon_simon_barcelone.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="pierre_agathe_amsterdam" class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Pierre et Agathe &middot; <span class="text-muted">Amsterdam</span></h2>
				<p class="lead">Super weekend en amoureux, j’ai réussi à surprendre Pierre! Merci Hewago</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/pierre_agathe_amsterdam.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="julien_bonheur_milano" class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Julien et Bonheur &middot; <span class="text-muted">Milan</span></h2>
				<p class="lead">J’avais hésité à supprimer Milan des destinations possibles, j’ai eu raison de ne pas le faire ! Merci Hewago, on a adoré !</p>
			</div>

			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("testimonials/julien_bonheur_milano.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="portfolio-divider">

		<div id="kevin_alexia_seville" class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Kevin et Alexia &middot; <span class="text-muted">Séville</span></h2>
				<p class="lead">Partir de la grisaille parisienne pour la douceur de l’andalousie, on aurait pas pu rêver mieux pour nos 1 an! Merci hewago</p>
			</div>

			<div class="col-md-5">
				<%= image_tag("testimonials/kevin_alexia_seville.jpg", class:"featurette-image img-responsive center-block") %>
			</div>
		</div>

		<h2 class="text-center md-margin-top">Pourquoi pas toi?</h2>
		<div class="md-margin-top md-margin-bottom text-center">
			<%= link_to "Réserve ton voyage", root_path, class:"cta-yellow-full cta-md" %>
		</div>

	</div><!-- End container -->
</section>