<p id="notice"><%= notice %></p>

<h1>Listing Travelers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Id type</th>
      <th>Id number</th>
      <th>Id expiration</th>
      <th>Nationality</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travelers.each do |traveler| %>
      <tr>
        <td><%= traveler.first_name %></td>
        <td><%= traveler.last_name %></td>
        <td><%= traveler.id_type %></td>
        <td><%= traveler.id_number %></td>
        <td><%= traveler.id_expiration %></td>
        <td><%= traveler.nationality %></td>
        <td><%= traveler.email %></td>
        <td><%= traveler.phone %></td>
        <td><%= traveler.birthdate %></td>
        <td><%= traveler.gender %></td>
        <td><%= traveler.address %></td>
        <td><%= link_to 'Show', traveler %></td>
        <td><%= link_to 'Edit', edit_traveler_path(traveler) %></td>
        <td><%= link_to 'Destroy', traveler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveler', new_traveler_path %>
