<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @traveler.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @traveler.last_name %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @traveler.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @traveler.id_number %>
</p>

<p>
  <strong>Id expiration:</strong>
  <%= @traveler.id_expiration %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @traveler.nationality %>
</p>

<p>
  <strong>Email:</strong>
  <%= @traveler.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @traveler.phone %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @traveler.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @traveler.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @traveler.address %>
</p>

<%= link_to 'Edit', edit_traveler_path(@traveler) %> |
<%= link_to 'Back', travelers_path %>
