<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="departure-date-section container">
    <div class="row">
      <div class="col-md-4 text-center sm-margin-top">
        <h4 class="sm-margin-bottom">Février 2016</h4>
        <p>
          <%= f.radio_button(:date_string, "1902201621022016") %>
          <%= f.label(:date_string, "Du vendredi 19/02 au dimanche 21/02 inclus", value: "1902201621022016") %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "2602201628022016") %>
          <%= f.label(:date_string, "Du vendredi 26/02 au dimanche 28/02 inclus", value: "2602201628022016") %>
        </p>
      </div>

      <div class="col-md-4 text-center sm-margin-top">
        <h4 class="sm-margin-bottom">Mars 2016</h4>
        <p>
          <%= f.radio_button(:date_string, "0403201606032016") %>
          <%= f.label(:date_string, "Du vendredi 04/03 au dimanche 06/03 inclus", value: "0403201606032016") %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "1103201613032016") %>
          <%= f.label(:date_string, "Du vendredi 11/03 au dimanche 13/03 inclus", value: "1103201613032016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "1803201620032016") %>
          <%= f.label(:date_string, "Du vendredi 18/03 au dimanche 20/03 inclus", value: "1803201620032016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "2503201627032016") %>
          <%= f.label(:date_string, "Du vendredi 25/03 au dimanche 27/03 inclus", value: "2503201627032016" ) %>
        </p>
      </div>

      <div class="col-md-4 text-center sm-margin-top">
        <h4 class="sm-margin-bottom">Avril 2016</h4>
        <p>
          <%= f.radio_button(:date_string, "0104201603042016") %>
          <%= f.label(:date_string, "Du vendredi 01/04 au dimanche 03/04 inclus", value: "0104201603042016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "0804201610042016") %>
          <%= f.label(:date_string, "Du vendredi 08/04 au dimanche 10/04 inclus", value: "0804201610042016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "1504201617042016") %>
          <%= f.label(:date_string, "Du vendredi 15/04 au dimanche 17/04 inclus", value: "1504201617042016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "2204201624042016") %>
          <%= f.label(:date_string, "Du vendredi 22/04 au dimanche 24/04 inclus", value: "2204201624042016" ) %>
        </p>
        <p>
          <%= f.radio_button(:date_string, "2904201601052016") %>
          <%= f.label(:date_string, "Du vendredi 29/04 au dimanche 01/05 inclus", value: "2904201601052016" ) %>
        </p>
      </div>
    </div>
  </section>

  <hr class="title-underline md-margin-top">

  <div class="text-center sm-margin-top">
    <a class="sm-margin-top text-collapse" role="button" data-toggle="collapse" href="#restriction-time-section" aria-expanded="false" aria-controls="restriction-time-section">Besoin de flexibilité horaire pour les vols?</a>
  </div>

  <section id="restriction-time-section" class="restriction-time-section container collapse">
    <hr class="title-underline sm-margin-top">

    <div class="container text-center">
      <h2>Indique tes horaires de vol</h2>
      <p class="col-md-8 col-md-offset-2">Si tu as besoin de flexibilité horaire, tu peux restreindre ta disponibilité horaire pour tes vols aller et retour afin de personnaliser ton voyage contre un petit supplément.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h4 class="md-margin-top text-center">Disponibilité vol aller:</h4>
          <p>
            <%= f.radio_button(:outbound_start_time_string, "whatever", checked:true) %>
            <%= f.label(:outbound_start_time_string, "Peu importe", value: "whatever") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:outbound_start_time_string, "morning") %>
            <%= f.label(:outbound_start_time_string, "Uniquement le matin", value: "morning") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:outbound_start_time_string, "afternoon") %>
            <%= f.label(:outbound_start_time_string, "Uniquement l'après-midi", value: "afternoon") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:outbound_start_time_string, "evening") %>
            <%= f.label(:outbound_start_time_string, "Uniquement le soir", value: "evening") %>
          </p>
        </div>

        <div class="col-md-5">
          <h4 class="md-margin-top text-center">Disponibilité vol retour:</h4>
          <p>
            <%= f.radio_button(:return_start_time_string, "whatever", checked:true) %>
            <%= f.label(:return_start_time_string, "Peu importe", value: "whatever") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:return_start_time_string, "morning") %>
            <%= f.label(:return_start_time_string, "Uniquement le matin", value: "morning") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:return_start_time_string, "afternoon") %>
            <%= f.label(:return_start_time_string, "Uniquement l'après-midi", value: "afternoon") %>
          </p>
          <p class="not-whatever-departuretime">
            <%= f.radio_button(:return_start_time_string, "evening") %>
            <%= f.label(:return_start_time_string, "Uniquement le soir", value: "evening") %>
          </p>
        </div>

      </div>
    </div>
  </section>

  <section class="less-city-section">
    <div class="container">
      <h2 class="text-center">Elimine les villes que tu ne souhaites pas visiter</h2>
      <p class="text-center col-md-8 col-md-offset-2">Tu as déjà visité une des villes que nous proposons? Nous te donnons le choix de supprimer une ville de la liste <b>gratuitement</b>! Si tu désires en supprimer d'avantage, tu peux le faire pour 5€ par ville supprimée.</p>
    </div>

    <div class="container">
      <%= f.fields_for :choices do |fc| %>
        <div class="col-sm-<%= fc.object.city.intsm%> col-xs-6 <%= I18n.transliterate(fc.object.city.name.downcase) %>-picture picture-margin-top">
          <%= fc.hidden_field :city_id %>
          <%= fc.check_box :chosen, id: I18n.transliterate(fc.object.city.name.downcase), checked: true %>
          <label for= <%= I18n.transliterate(City.find(fc.object.city_id).name.downcase) %> ><%= City.find(fc.object.city_id).name %></label>
        </div>
      <%end%>
    </div>
  </section>

<!--TODO else if no params number_of_traveler && from  -->
  <% if params[:number_of_traveler].present? %>
    <% @reservation.number_of_traveler =  params[:number_of_traveler] %>
  <%end%>
  <%= f.hidden_field :number_of_traveler %>
</div>
<div class="field">
  <% if params[:from].present? %>
    <% @reservation.from = params[:from] %>
  <%end%>
  <% f.hidden_field :from %>
</div>

<% if false %>

  <div class="field">

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :destination_removed %><br>
    <%= f.number_field :destination_removed %>
  </div>
  <div class="field">
    <%= f.label :outbound_start_time %><br>
    <%= f.number_field :outbound_start_time %>
  </div>
  <div class="field">
    <%= f.label :outbound_end_time %><br>
    <%= f.number_field :outbound_end_time %>
  </div>
  <div class="field">
    <%= f.label :return_start_time %><br>
    <%= f.number_field :return_start_time %>
  </div>
  <div class="field">
    <%= f.label :return_end_time %><br>
    <%= f.number_field :return_end_time %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :confirmation_number %><br>
    <%= f.text_field :confirmation_number %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>

<%end%>

<div class="actions md-margin-top">
    <%= f.submit 'Réserver', class:"cta-yellow-full btn-center" %>
  </div>

<% end %>


<!--
<form id="booking-form" action="https://www.hewago.com/summary.php" method="post">


  <section class="less-city-section">
    <div class="container">
      <h2 class="text-center">Elimine les villes que tu ne souhaites pas visiter</h2>
      <p class="text-center col-md-8 col-md-offset-2">Tu as déjà visité une des villes que nous proposons? Nous te donnons le choix de supprimer une ville de la liste <b>gratuitement</b>! Si tu désires en supprimer d'avantage, tu peux le faire pour 5€ par ville supprimée.</p>
    </div>

    <div class="container">
      <div class="col-sm-6 col-xs-6 barcelone-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="barcelone" value="Barcelone" checked>
        <label for="barcelone">Barcelone</label>
      </div>
      <div class="col-sm-3 col-xs-6 porto-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="porto" value="Porto" checked>
        <label for="porto">Porto</label>
      </div>
      <div class="col-sm-3 col-xs-6 milan-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="milan" value="Milan" checked>
        <label for="milan">Milan</label>
      </div>
      <div class="col-sm-3 col-xs-6 amsterdam-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="amsterdam" value="Amsterdam" checked>
        <label for="amsterdam">Amsterdam</label>
      </div>
      <div class="col-sm-6 col-xs-6 rome-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="rome" value="Rome" checked>
        <label for="rome">Rome</label>
      </div>
      <div class="col-sm-3 col-xs-6 geneve-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="geneve" value="Genève" checked>
        <label for="geneve">Genève</label>
      </div>
      <div class="col-sm-3 col-xs-6 berlin-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="berlin" value="Berlin" checked>
        <label for="berlin">Berlin</label>
      </div>
      <div class="col-sm-3 col-xs-6 istanbul-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="istanbul" value="Istanbul" checked>
        <label for="istanbul">Istanbul</label>
      </div>
      <div class="col-sm-6 col-xs-6 londres-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="londres" value="Londres" checked>
        <label for="londres">Londres</label>
      </div>
      <div class="col-sm-6 col-xs-6 venise-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="venise" value="Venise" checked>
        <label for="venise">Venise</label>
      </div>
      <div class="col-sm-3 col-xs-6 seville-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="seville" value="Séville" checked>
        <label for="seville">Séville</label>
      </div>
      <div class="col-sm-3 col-xs-6 nice-picture picture-margin-top">
        <input type="checkbox" name="towns[]" id="nice" value="Nice" checked>
        <label for="nice">Nice</label>
      </div>
    </div>
  </section>

  <div class="text-center sm-margin-top">
    <a class="sm-margin-top text-collapse" role="button" data-toggle="collapse" href="#restriction-time-section" aria-expanded="false" aria-controls="restriction-time-section">Besoin de flexibilité horaire pour les vols?</a>
  </div>

  <section id="restriction-time-section" class="restriction-time-section container collapse">
    <hr class="title-underline sm-margin-top">

    <div class="container text-center">
      <h2>Indique tes horaires de vol</h2>
      <p class="col-md-8 col-md-offset-2">Si tu as besoin de flexibilité horaire, tu peux restreindre ta disponibilité horaire pour tes vols aller et retour afin de personnaliser ton voyage contre un petit supplément.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h4 class="md-margin-top text-center">Disponibilité vol aller:</h4>
          <p>
            <input type="radio" id="departure-time-whatever" name="departureTime" value="whatever" checked>
            <label for="departure-time-whatever">Peu importe</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="departure-time-morning" name="departureTime" value="matin">
            <label for="departure-time-morning">Uniquement le matin</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="departure-time-afternoon" name="departureTime" value="aprem">
            <label for="departure-time-afternoon">Uniquement l'après-midi</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="departure-time-evening" name="departureTime" value="soir">
            <label for="departure-time-evening">Uniquement le soir</label>
          </p>
        </div>

        <div class="col-md-5">
          <h4 class="md-margin-top text-center">Disponibilité vol retour:</h4>
          <p>
            <input type="radio" id="arrival-time-whatever" name="arrivalTime" value="whatever" checked>
            <label for="arrival-time-whatever">Peu importe</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="arrival-time-morning" name="arrivalTime" value="matin">
            <label for="arrival-time-morning">Uniquement le matin</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="arrival-time-afternoon" name="arrivalTime" value="aprem">
            <label for="arrival-time-afternoon">Uniquement l'après-midi</label>
          </p>
          <p class="not-whatever-departuretime">
            <input type="radio" id="arrival-time-evening" name="arrivalTime" value="soir">
            <label for="arrival-time-evening">Uniquement le soir</label>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="actions md-margin-top">
    <button type="submit" class="cta-yellow-full btn-center" value="Continuer">Réserver</button>
  </div>

  <div id="NbChecked" style="display:none;"></div>
  <div id="supplement" style="display:none;"></div>
  <div id="heuresuppdep" style="display:none;"></div>
  <div id="heuresuppback" style="display:none;"></div>
  <div id="totaloptions" style="display:none;"></div>
</form>
-->
