<br/>
<br/>
<br/>
<%= 'Integrer paiement api' %>  <br/>
<%= 'if paiement.successful reservation.paiement.status = true or reservation.step = travelers ??' %> <br/>
<%= 'for now if price = 0 ' %>

<%= form_for @reservation do |f| %>
<%= f.label :price %>
<%= f.number_field :price %>

<%= f.submit 'Payer' %>
<%end%>
