<%= form_for(@reservation)  do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :travelers do |ft| %>
  <%= ft.hidden_field :id %>
  <h1>
    <%= ft.object.first_name %> 
  </h1>

  <div class="field">
    <%= ft.label :first_name %><br>
    <%= ft.text_field :first_name %>
  </div>
  <div class="field">
    <%= ft.label :last_name %><br>
    <%= ft.text_field :last_name %>
  </div>
  <div class="field">
    <%= ft.label :id_type %><br>
    <%= ft.text_field :id_type %>
  </div>
  <div class="field">
    <%= ft.label :id_number %><br>
    <%= ft.text_field :id_number %>
  </div>
  <div class="field">
    <%= ft.label :id_expiration %><br>
    <%= ft.date_select :id_expiration %>
  </div>
  <div class="field">
    <%= ft.label :nationality %><br>
    <%= ft.text_field :nationality %>
  </div>
  <div class="field">
    <%= ft.label :email %><br>
    <%= ft.text_field :email %>
  </div>
  <div class="field">
    <%= ft.label :phone %><br>
    <%= ft.text_field :phone %>
  </div>
  <div class="field">
    <%= ft.label :birthdate %><br>
    <%= ft.date_select :birthdate %>
  </div>
  <div class="field">
    <%= ft.label :gender %><br>
    <%= ft.text_field :gender %>
  </div>
  <div class="field">
    <%= ft.label :address %><br>
    <%= ft.text_field :address %>
  </div>

  <%end%>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
