<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Number of traveler</th>
      <th>From</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Outbound start time</th>
      <th>Outbound end time</th>
      <th>Return start time</th>
      <th>Return end time</th>
      <th>Price</th>
      <th>Confirmation number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.number_of_traveler %></td>
        <td><%= reservation.from %></td>
        <td><%= reservation.destination %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.destination_removed %></td>
        <td><%= reservation.outbound_start_time %></td>
        <td><%= reservation.outbound_end_time %></td>
        <td><%= reservation.return_start_time %></td>
        <td><%= reservation.return_end_time %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.confirmation_number %></td>
        <td><%= reservation.user_id %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
