<section class="booking-section">
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-booking" id="navbar-booking">
			<div class="navbar-booking-container">
				<div class="row">
					<div class="col-sm-3 col-xs-12 text-center"><?php echo $nb_pass; ?>&nbsp;voyageurs</div>
					<div class="col-sm-3 col-xs-12 border-navbar">
						<div class="col-sm-5 col-xs-6 text-smaller white no-padding">Aller</div>
						<div class="col-sm-7 col-xs-6 white no-padding">Vendredi<br/> <span id="DeparturePlace"></span></div>
					</div>
					<div class="col-sm-3 col-xs-12 border-navbar border-navbar-right">
						<div class="col-xs-6 text-smaller white no-padding">Retour</div>
						<div class="col-xs-6 white no-padding">Dimanche <br/><span id="BackPlace"></span></div>
					</div>
					<div class="col-sm-3 text-center">
						<div class="col-xs-6 text-smaller white no-padding">Total par voyageur</div>
						<div class="col-xs-6 white no-padding"><span id="prixPers"></span>&nbsp;€</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<h2 class="text-center sm-margin-top">Choisis tes dates de voyages</h2>
			<p class="text-center">Quand souhaites-tu partir? Choisis ton week-end!</p>
		</div>

		<%= render 'form' %>

	</div><!-- End Fluid Container -->
</section>
