<p id="notice"><%= notice %></p>

<p>
  <strong>Number of traveler:</strong>
  <%= @reservation.number_of_traveler %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @reservation.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Date (string)</strong>
  <%= @reservation.date_string %>
</p>

<p>
  <strong>Destination removed:</strong>
  <%= @reservation.destination_removed %>
</p>

<p>
  <strong>Outbound start time: (string)</strong>
  <%= @reservation.outbound_start_time_string %>
</p>

<p>
  <strong>Return start time: (string)</strong>
  <%= @reservation.return_start_time_string %>
</p>

<p>
  <strong>Outbound start time:</strong>
  <%= @reservation.outbound_start_time %>
</p>

<p>
  <strong>Outbound end time:</strong>
  <%= @reservation.outbound_end_time %>
</p>

<p>
  <strong>Return start time:</strong>
  <%= @reservation.return_start_time %>
</p>

<p>
  <strong>Return end time:</strong>
  <%= @reservation.return_end_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reservation.price %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @reservation.confirmation_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<% @reservation.choices.each do |d| %>
  <% if d.chosen == true %>
    <%= 'Je veux' %> <%= d.city.name %><br />
  <%end%>
<%end%>
<% @reservation.choices.each do |d| %>
  <% if d.chosen == false %>
    <%= 'Je ne veux pas' %> <%= d.city.name %><br />
  <%end%>
<%end%>

<%# if reservation.step == paiement %>
<%if @reservation.price != 0 %>
  <%= render 'form_paiement' %>
<%else%>
<%#else if reservation.step = travelers%>
<%# 'Veuillez ajouter vos voyageurs' %>
<%= render 'form_travelers' %>
<%end%>


<%= 'A SUPPRIMER - SEULEMENT POUR TEST'%>
<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
