/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *
 *= require_tree .
 *= require_self
 *
 *
 *
 * 1. Typography
 * 2. Inputs & Checkbox
 * 3. Main menu (menu header)
 * 4. Date & Time pickers custom
 * 5. Padding & Margin
 * 6. Footer
 *
 */


/*
 *
 * 1. Typography
 * 2. Inputs & Checkbox
 * 3. Main menu (menu header)
 * 4. Date & Time pickers custom
 * 5. Padding & Margin
 * 6. Footer
 *
 */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 			       Typography		  		   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:700,500);
body {
  background-color: #f5f5f5;
  color: #616161;
}
footer {
  background-color: #212121;
  color: #F5F5F5;
}
.float-right {
  float: right!important;
}
.float-left {
  float: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.container-fluid {
  padding: 0;
}
h1, h2 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: #424242;
}
a {
  text-decoration: none;
  color: #ffa000!important;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #ffa000;
}
.text-bigger {
  font-size: 1.8em;
}
.text-smaller {
  font-size: 0.8em;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
.text12 {
  font-size: 12px!important;
}
.text14 {
  font-size: 14px!important;
}
.text16 {
  font-size: 16px!important;
}
.text18 {
  font-size: 18px!important;
}
.text20 {
  font-size: 20px!important;
}
.text25 {
  font-size: 25px!important;
}
.light-grey {
  color: #9E9E9E!important;
}
.normal-grey {
  color: #616161!important;
}
.dark-grey {
  color: #424242!important;
}
.red {
  color: #ef4646!important;
}
.white {
  color: #fff!important;
}
@media screen and (max-width: 767px) {
  .hidden-responsive {
    display: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      	Margin & Padding			   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.xs-margin {
  margin: 10px;
}
.xs-margin-left {
  margin-left: 10px;
}
.xs-margin-right {
  margin-right: 10px;
}
.xs-margin-top {
  margin-top: 10px;
}
.xs-margin-bottom {
  margin-bottom: 10px;
}
.sm-margin {
  margin: 20px;
}
.sm-margin-left {
  margin-left: 20px;
}
.sm-margin-right {
  margin-right: 20px;
}
.sm-margin-top {
  margin-top: 20px;
}
.sm-margin-bottom {
  margin-bottom: 20px;
}
.md-margin {
  margin: 50px;
}
.md-margin-left {
  margin-left: 50px;
}
.md-margin-right {
  margin-right: 50px;
}
.md-margin-top {
  margin-top: 50px;
}
.md-margin-bottom {
  margin-bottom: 50px;
}
.lg-margin {
  margin: 75px;
}
.lg-margin-left {
  margin-left: 75px;
}
.lg-margin-right {
  margin-right: 75px;
}
.lg-margin-top {
  margin-top: 75px;
}
.lg-margin-bottom {
  margin-bottom: 75px;
}
.xl-margin {
  margin: 100px;
}
.xl-margin-left {
  margin-left: 100px;
}
.xl-margin-right {
  margin-right: 100px;
}
.xl-margin-top {
  margin-top: 100px;
}
.xl-margin-bottom {
  margin-bottom: 100px;
}
.xs-padding {
  padding: 10px;
}
.xs-padding-left {
  padding-left: 10px!important;
}
.xs-padding-right {
  padding-right: 10px!important;
}
.xs-padding-top {
  padding-top: 10px;
}
.xs-padding-bottom {
  padding-bottom: 10px;
}
.sm-padding {
  padding: 20px;
}
.sm-padding-left {
  padding-left: 20px;
}
.sm-padding-right {
  padding-right: 20px;
}
.sm-padding-top {
  padding-top: 20px;
}
.sm-padding-bottom {
  padding-bottom: 20px;
}
.md-padding {
  padding: 50px;
}
.md-padding-left {
  padding-left: 50px;
}
.md-padding-right {
  padding-right: 50px;
}
.md-padding-top {
  padding-top: 50px;
}
.md-padding-bottom {
  padding-bottom: 50px;
}
.lg-padding {
  padding: 75px;
}
.lg-padding-left {
  padding-left: 75px;
}
.lg-padding-right {
  padding-right: 75px;
}
.lg-padding-top {
  padding-top: 75px;
}
.lg-padding-bottom {
  padding-bottom: 75px;
}
.xl-padding {
  padding: 100px;
}
.xl-padding-left {
  padding-left: 100px;
}
.xl-padding-right {
  padding-right: 100px;
}
.xl-padding-top {
  padding-top: 100px;
}
.xl-padding-bottom {
  padding-bottom: 100px;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0!important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      Main Menu (menu header)		   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.main-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  height: 65px;
  padding: 12px 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  color: #fff;
}
.header-pull-left {
  float: left;
}
.header-pull-right {
  float: right;
  margin-top: 12px;
}
.header-pull-right>* {
  display: inline-block;
  margin-left: 40px;
}
.main-menu li {
  text-decoration: none;
  display: inline;
}
.main-menu li a {
  color: #bdbdbd!important;
}
.main-menu li a:hover {
  text-decoration: none;
  color: #FFC107!important;
}
.main-menu li a:active {
  text-decoration: none;
  color: #FFC107!important;
}

/*------------------------------- */


/*------- Responsive Menu ------- */


/*------------------------------- */

@media screen and (min-width: 768px) {
  .menu-responsive-header, .header-icon {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-menu {
    padding: 10px;
    border: 0;
    height: 65px;
    z-index: 1;
  }
  .dark-menu {
    height: 65px;
  }
  .header-pull-left {
    float: none;
    text-align: center;
  }
  .header-pull-right {
    display: none;
  }
  .header-icon {
    position: absolute;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
    top: 15px;
    left: 15px;
  }
  .menu-responsive-header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 100vh;
    background-color: #212121;
    -ms-transform: translateX(-280px);
    /* IE 9 */
    -webkit-transform: translateX(-280px);
    /* Chrome, Safari, Opera */
    transform: translateX(-280px);
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
    list-style: none;
  }
  .menu-responsive-header a {
    display: block;
    margin-left: -15px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
  }
  .menu-responsive-header li a {
    color: #f5f5f5!important;
  }
  .with-sidebar .menu-responsive-header {
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
  }
  .with-sidebar .site-hidden {
    position: fixed;
    z-index: 5;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		       Search Bar Responsive		   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 768px) {
  .search-bar-responsive, .search-input-responsive, .search-button-responsive, .search-modal {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .search-bar-background-container {
    display: none;
  }
  .search-bar-responsive-container {
    display: block !important;
    width: 300px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
  }
  .search-bar-responsive-container > * {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search-input-responsive {
    display: inline-block;
    float: left;
    background-color: #fff;
    width: 88%;
    height: 100%;
    color: #757575;
    text-align: center;
  }
  .search-button-responsive {
    display: inline-block;
    float: right;
    background-color: #ffa000;
    color: #fff;
    width: 12%;
    height: 100%;
    text-align: center;
  }
  .btn-search-responsive {
    color: #fff;
    background-color: #ffa000;
    border: 1px solid #ffa000;
    border-radius: 2px;
  }
  .search-modal {
    position: fixed;
    z-index: 501;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #757575;
    -ms-transform: translateY(-767px);
    /* IE 9 */
    -webkit-transform: translateY(-767px);
    /* Chrome, Safari, Opera */
    transform: translateY(-767px);
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
  }
  .with-search-modal .search-modal {
    -ms-transform: translateZ(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
  }
  .search-modal-header {
    background-color: #eeeeee;
    height: 50px;
    line-height: 50px;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  .search-modal-title {
    color: #e0e0e0;
    text-align: center;
    font-size: 15px;
  }
  .search-form-responsive {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .search-selector-responsive {
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 300px;
    height: 40px;
    line-height: 40px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      		Footer 	 				   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container-footer-responsive {
  width: 1045px;
  margin-left: auto;
  margin-right: auto;
}
.container-footer-responsive h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  color: #fafafa;
  margin-top: 0!important;
}
.container-footer-responsive li a {
  font-weight: 300;
  text-decoration: none;
  color: #f5f5f5!important;
}
.container-footer-responsive li a:hover {
  text-decoration: none;
  color: #959595!important;
}
.footer-col {
  width: 200px!important;
  margin-left: auto;
  margin-right: auto;
}
.divider-footer {
  width: 1045px;
  border-color: #8e8e8e;
  margin: 50px 0;
}
.list-layout-footer {
  list-style: none;
  padding-left: 0;
}
.footer-menu-social {
  width: 300px;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}
.footer-menu-social li {
  display: inline;
  padding: 0 5px;
}
.footer-menu-social li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.footer-menu-social .fa {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #f5f5f5;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid #959595;
}
.footer-menu-social .fa:hover {
  color: #959595;
}
.copywright-footer {
  font-weight: normal;
  color: #959595;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .container-footer-responsive, .divider-footer {
    width: 300px;
  }
  .footer-col {
    width: 250px;
    float: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-footer-responsive, .divider-footer {
    width: 750px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      		Buttons				   	   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.btn-yellow {
  margin: 0 5px;
  display: inline-block;
  width: 20%;
  height: 44px;
  color: #fff;
  background-color: #FFA000;
  border: 1px solid #FFA000;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.btn-yellow[type="submit"]:hover {
  color: #fff;
  background-color: #FFC107;
  border: 1px solid #FFC107;
  border: 0;
  text-decoration: none;
}
.btn-yellow[type="submit"]:active, .btn-yellow[type="submit"]:focus {
  color: #fff;
  background-color: #FFC107;
  border: 1px solid #FFC107;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      	Welcome Screen				   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.welcome-homepage {
  background: image-url("background.jpg") no-repeat center fixed;
  background-size: cover;
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.welcome-homepage h1 {
  color: #fff;
  margin-top: 30vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .welcome-homepage h1 {
    font-size: 24px;
  }
}
.subtitle-homepage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
@media only screen and (max-device-width:480px) {
  .subtitle-homepage {
    font-size: 16px;
  }
}
.search-bar-background-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 50px;
  width: 750px;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
}
.search-bar-background {
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
}
.search-bar {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 44px;
  margin: 0;
}
.search-bar> * {
  border: 0;
  margin: 0;
}
.search-bar>::-moz-focus-inner {
  border: 0;
}
.search-bar label {
  color: #fff;
  margin: 0 5px;
}
.search-selector-label {
  width: 20%;
  position: relative;
}
.search-selector {
  color: #616161;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  height: 44px;
  width: 100%;
  padding-left: 10px;
}
.search-selector-label:after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #616161;
  padding-top: 12px;
  padding-right: 10px;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
.description-homepage {
  padding-top: 50px;
  padding-bottom: 120px;
}
.description-homepage h2 {
  text-align: center;
  font-weight: 700;
}
.title-underline {
  width: 50px;
  border: 3px solid #E91E63;
}
.description-homepage h4 {
  font-weight: bold;
}
.fixed {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 9999999;
}
.booking-section {
  margin-top: 65px;
  padding-bottom: 50px;
}
.booking-section h4 {
  font-weight: bold;
}
.navbar-booking {
  background-color: #E91E63 !important;
  color: #fff;
  border-radius: 0 !important;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width:960px) {
  .navbar-booking-container {
    width: 65%!important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .border-navbar {
    border-left: 1px solid #fff;
  }
  .border-navbar-right {
    border-right: 1px solid #fff;
  }
}
@media only screen and (device-width:768px) {
  .navbar-booking-container {
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media only screen and (max-device-width:480px) {
  .navbar-booking-container {
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .border-navbar {
    border-bottom: 1px solid #fff;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.avalaible-city {
  height: 350px;
  width: auto;
}
.avalaible-city-picture {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.picture-margin-top {
  margin-top: 20px;
}
.less-city-section .col-sm-3, .less-city-section .col-sm-6 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.text-collapse, .text-collapse:active, .text-collapse:focus {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #616161!important;
}
.text-collapse:hover {
  text-decoration: none;
  color: #212121!important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      Departure Date Radiobox	   	   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.departure-date-section [type="radio"]:not(:checked), .departure-date-section [type="radio"]:checked {
  position: absolute;
  left: -99999px;
}
.departure-date-section [type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  padding: 15px 25px 15px 35px;
  border: 1px solid #bdbdbd;
  color: #616161;
}
.departure-date-section [type="radio"]:checked + label {
  position: relative;
  cursor: pointer;
  padding: 15px 25px 15px 35px;
  border: 1px solid #E91E63;
  color: #fff !important;
  background-color: #E91E63 !important;
}
.departure-date-section [type="radio"]:not(:checked) + label:hover {
  color: #FF4081 !important;
  border: 1px solid #FF4081;
}
.departure-date-section [type="radio"]:not(:checked) + label:before, .departure-date-section [type="radio"]:checked + label:before {
  font-family: fontAwesome;
  position: absolute;
  top: 15px;
  left: 12px;
}
.departure-date-section [type="radio"]:not(:checked) + label:before {
  content: '\f133';
  color: #FF4081;
}
.departure-date-section [type="radio"]:checked + label:before {
  content: '\f274';
  color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		      Less city Checkbox	  	 	   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.less-city-section [type="checkbox"]:not(:checked), .less-city-section [type="checkbox"]:checked {
  position: absolute;
  left: -99999px;
}
.barcelone-picture,
.porto-picture,
.milan-picture,
.geneve-picture,
.berlin-picture,
.amsterdam-picture,
.rome-picture,
.istanbul-picture,
.londres-picture,
.seville-picture,
.venise-picture,
.nice-picture {
  height: 175px;
}
.barcelone-picture [type="checkbox"]:checked + label {
  background: image-url("barcelone.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.barcelone-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.barcelone-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Barcelone (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.barcelone-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Barcelone';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px !important;
}
.porto-picture [type="checkbox"]:checked + label {
  background: image-url("destination/porto.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.porto-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.porto-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Porto (destination éliminée';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.porto-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Porto';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.milan-picture [type="checkbox"]:checked + label {
  background: image-url("destination/milan.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.milan-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.milan-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Milan (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.milan-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Milan';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.geneve-picture [type="checkbox"]:checked + label {
  background: image-url("destination/geneve.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.geneve-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.geneve-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Genève (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.geneve-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Genève';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.amsterdam-picture [type="checkbox"]:checked + label {
  background: image-url("destination/amsterdam.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.amsterdam-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.amsterdam-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Amsterdam (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.amsterdam-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Amsterdam';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.berlin-picture [type="checkbox"]:checked + label {
  background: image-url("destination/berlin.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.berlin-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.berlin-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Berlin (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.berlin-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Berlin';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.rome-picture [type="checkbox"]:checked + label {
  background: image-url("destination/rome.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.rome-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.rome-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Rome (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.rome-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Rome';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.istanbul-picture [type="checkbox"]:checked + label {
  background: url("destination/istanbul.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.istanbul-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.istanbul-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Istanbul (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.istanbul-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Istanbul';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.londres-picture [type="checkbox"]:checked + label {
  background: url("destination/londres.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.londres-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.londres-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Londres (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.londres-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Londres';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.seville-picture [type="checkbox"]:checked + label {
  background: url("destination/seville.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.seville-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.seville-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Séville (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.seville-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Séville';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.venise-picture [type="checkbox"]:checked + label {
  background: url("destination/venise.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.venise-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.venise-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Venise (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.venise-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Venise';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}
.nice-picture [type="checkbox"]:checked + label {
  background: url("destination/nice.jpg") no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  padding-top: 75px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.nice-picture:hover [type="checkbox"]:checked + label:after {
  cursor: pointer;
  background: rgba(255, 160, 0, 1);
  content: 'Eliminer cette destination';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.nice-picture [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: black;
  content: 'Nice (destination éliminée)';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px;
}
.nice-picture:hover [type="checkbox"]:not(:checked) + label:after {
  cursor: pointer;
  background: #4CAF50;
  content: 'Rajouter Nice';
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px !important;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 75px!important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 		     Restriction Time Checkbox	   	   */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.restriction-time-section [type="radio"]:not(:checked), .restriction-time-section [type="radio"]:checked {
  position: absolute;
  left: -99999px;
}
.restriction-time-section [type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 44px;
  line-height: 44px;
  color: #616161;
  border: 1px solid #bdbdbd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}
.restriction-time-section [type="radio"]:checked + label {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #E91E63;
  color: #fff !important;
  background-color: #E91E63 !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}
.restriction-time-section [type="radio"]:not(:checked) + label:hover {
  border: 1px solid #FF4081;
}
.not-whatever-departuretime [type="radio"]:not(:checked) + label:after, .not-whatever-departuretime [type="radio"]:checked + label:after {
  position: absolute;
  top: 0;
  right: 20px;
  content: '+ 20€';
}
.not-whatever-departuretime [type="radio"]:not(:checked) + label:after {
  color: #616161;
}
.not-whatever-departurtime [type="radio"]:checked + label:after {
  color: #fff;
}
.not-whatever-returntime [type="radio"]:not(:checked) + label:after, .not-whatever-returntime [type="radio"]:checked + label:after {
  position: absolute;
  top: 0;
  right: 20px;
  content: '+ 20€';
}
.not-whatever-returntime [type="radio"]:not(:checked) + label:after {
  color: #616161;
}
.not-whatever-returntime [type="radio"]:checked + label:after {
  color: #fff;
}
.restriction-time-section [type="radio"]:not(:checked) + label:before, .restriction-time-section [type="radio"]:checked + label:before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 20px;
}
.restriction-time-section [type="radio"]:not(:checked) + label:before {
  content: '\f017';
  color: #FF4081;
}
.restriction-time-section [type="radio"]:checked + label:before {
  content: '\f017';
  color: #fff;
}
.box {
  width: 100%;
  border: 1px solid #BDBDBD;
  background-color: #fff;
  border-radius: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  margin: 0;
}
.box-header {
  background-color: #EEEEEE;
  color: #424242;
  padding: 10px 20px;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
}
.box-body {
  padding: 20px;
}
.box-body h4 {
  font-weight: bold;
}
.box-footer {
  padding: 10px 20px;
}
.nav-tabs {
  border-bottom: 0!important;
}
.side-nav {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
.side-nav li a {
  color: #616161!important;
  text-decoration: none;
  font-size: 16px;
  width: 250px;
}
.side-nav > li > a {
  border: 0 !important;
  background-color: #f5f5f5 !important;
  border: none !important;
  cursor: pointer !important;
  margin-left: 0!important;
}
.side-nav > li > a:hover {
  color: #959595!important;
  text-decoration: none;
  background-color: #f5f5f5 !important;
  border: 0 !important;
}
.side-nav .active {
  font-weight: bold;
  color: #424242!important;
  text-decoration: none;
}
.tab-pane:after {
  content: '';
  clear: both;
  display: table;
}
.cta-yellow-full {
  text-decoration: none;
  border: 1px solid #ffa000;
  border-radius: 2px;
  color: #fff!important;
  background-color: #ffa000;
  padding: 15px 80px;
  font-weight: bold;
}
.cta-yellow-full:hover {
  text-decoration: none;
  color: #fff!important;
  background-color: #FFC107;
  border: 1px solid #FFC107;
}
.cta-yellow-light {
  text-decoration: none;
  border: 2px solid #ffa000;
  border-radius: 2px;
  color: #ffa000!important;
  background-color: #f5f5f5;
  padding: 15px 50px;
  font-weight: bold;
}
.cta-yellow-light:hover {
  text-decoration: none;
  color: #fff!important;
  background-color: #FFC107;
  border: 2px solid #FFC107;
}
.cta-pink-light {
  text-decoration: none;
  border: 2px solid #E91E63;
  border-radius: 2px;
  color: #E91E63!important;
  background-color: #f5f5f5;
  padding: 15px 50px;
  font-weight: bold;
}
.cta-pink-light:hover {
  text-decoration: none;
  color: #fff!important;
  background-color: #E91E63;
  border: 2px solid #E91E63;
}
.cta-white-light {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff!important;
  background-color: transparent;
  padding: 7px 20px;
  font-weight: bold;
}
.social-cta {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff!important;
  background-color: transparent;
  padding: 7px 0;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
.cta-white-light:hover, .social-cta:hover {
  text-decoration: none;
  color: #616161!important;
  background-color: #fff;
  border: 2px solid #fff;
}
.cta-lg {
  padding: 15px 50px!important;
}
.cta-md {
  padding: 15px 30px!important;
}
.hover {
  position: relative;
}
.testimonials-homepage-yellow, .testimonials-homepage-pink, .testimonials-homepage-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 75px!important;
}
.text-hover-testimonials {
  font-size: 24px;
  font-weight: bold;
}
.text-italic {
  font-style: italic
}
.testimonials-homepage-yellow {
  background: rgba(255, 160, 0, 0.7);
}
.testimonials-homepage-pink {
  background: rgba(233, 30, 90, 0.7);
}
.testimonials-homepage-blue {
  background: rgba(19, 218, 225, 0.7);
}
.hover:hover .testimonials-homepage-yellow, .hover:hover .testimonials-homepage-pink, .hover:hover .testimonials-homepage-blue {
  visibility: visible;
  opacity: 1;
}
.input-box {
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  height: 35px;
  width: 100%;
  margin-top: -8px;
}
.input-box input, .input-box select {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0 10px;
}
.summary-box {
  background-color: #fff;
  color: #616161;
  width: 320px!important;
  position: absolute;
  z-index: 1000;
}
.grey-border {
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
@media screen and (max-width: 768px) {
  .summary-box {
    display: none;
  }
}
.light-yellow-underline {
  border: 1px solid #ffa000;
}
.commentary-box {
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  height: 100px;
  width: 100%;
}
.commentary-box textarea {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 6px 10px;
}
table {
  color: #616161;
  font-size: 14px;
}
.table>tbody>tr>td {
  border: none!important;
}
.pink-background {
  background-color: #E91E63!important;
  color: #fff;
  border: 1px solid #E91E63;
}
.teal-background {
  background-color: #4DB6AC!important;
  color: #fff;
  border: 1px solid #4DB6AC;
}
.indigo-background {
  background-color: #7986CB!important;
  color: #fff;
  border: 1px solid #7986CB;
}
.green-background {
  background-color: #81C784!important;
  color: #fff;
  border: 1px solid #81C784;
}
.lime-background {
  background-color: #DCE775!important;
  color: #fff;
  border: 1px solid #DCE775;
}
.yellow-background {
  background-color: #FFF176!important;
  color: #fff;
  border: 1px solid #FFF176;
}
.amber-background {
  background-color: #FFC107!important;
  color: #fff;
  border: 1px solid #FFC107;
}
.white-background {
  background-color: #fff!important;
  color: #616161;
  border: 1px solid #fff;
}
.highlighted {
  background-color: #fff;
}
.input-normal-checkbox [type="checkbox"]:not(:checked), .input-normal-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.input-normal-checkbox [type="checkbox"]:not(:checked) + label, .input-normal-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.input-normal-checkbox [type="checkbox"]:not(:checked) + label:before, .input-normal-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #BDBDBD;
  background: #fff;
  border-radius: 0;
}
.input-normal-checkbox [type="checkbox"]:not(:checked) + label:after, .input-normal-checkbox [type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 14px;
  color: #ef4646;
}
.input-normal-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
.input-normal-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
}
.input-normal-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .input-normal-checkbox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #BDBDBD;
  background-color: #fff;
}
.input-normal-checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.input-normal-checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}
.input-normal-checkbox [type="checkbox"]:checked:focus + label:before, .input-normal-checkbox [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #BDBDBD;
}
.normal-checkbox {
  color: #616161;
  font-weight: normal!important;
  font-size: 14px;
}
.thanks-section-ok {
  background: url("thanks-ok-bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.thanks-section-ko {
  background: url("thanks-ko-bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.error-section {
  background: url("404-bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.contact-section {
  background: url("contact-bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.full-grey-section {
  height: 100vh;
  background-color: #f5f5f5;
  padding: 50px;
}
.grey-section {
  background-color: #f5f5f5;
  padding-top: 115px;
  padding-bottom: 70px;
}
.small-grey-section {
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 90px;
}
.white-section {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.welcome-blog-section {
  margin-top: 65px;
  height: 30vh;
  background-color: #FFA000;
  color: #fff;
  position: relative;
}
.berlin-nightlife-section {
  background: url("blog/2016/berlin-nightlife-full-width.jpg") no-repeat center fixed;
  background-size: cover;
  height: 35vh;
  margin-top: 65px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.berlin-nightlife-section h1 {
  color: #fff;
  text-align: center;
  top: 45%;
  position: absolute;
  left: 0;
  width: 100%;
}
.welcome-blog-section h1 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .welcome-blog-section h1 {
    font-size: 24px;
  }
}
.thanks-section-ok h1, .thanks-section-ko h1, .error-section h1, .contact-section h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30vh;
}
.error-section h1 {
  font-size: 70px;
}
.no-border {
  border: none!important;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px!important;
  }
}
.hover-destination {
  position: absolute;
  color: #fff;
  top: 73px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.destination-picture {
  height: 100%;
  width: 100%;
}
.email-form {
  display: inline-block;
  overflow: hidden;
  width: 500px;
  height: 44px;
  margin: 0;
}
.email-form> * {
  border: 0;
  margin: 0;
}
.email-form>::-moz-focus-inner {
  border: 0;
}
.email-label {
  width: 65%;
  height: 100%;
  float: left;
  font-weight: normal;
}
.email-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px 0 0 2px;
  padding: 0 10px;
}
.cta-email {
  display: inline-block;
  width: 35%;
  height: 100%;
  color: #fff;
  background-color: #ffa000;
  border: 0;
  border-radius: 0 2px 2px 0;
  text-align: center;
}
.cta-email[type="submit"]:hover {
  color: #fff;
  background-color: #FFC107;
  border: 0;
  text-decoration: none;
}
.cta-email[type="submit"]:active, .cta-email[type="submit"]:focus {
  color: #fff;
  background-color: #FFC107;
  border: 0;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .cta-email-responsive {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .email-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .email-label {
    width: 80%;
  }
  .cta-email {
    display: none;
  }
  .cta-email-responsive {
    display: inline-block;
    width: 20%;
    height: 100%;
    color: #fff;
    background-color: #ffa000;
    border: 0;
    border-radius: 0 2px 2px 0;
    text-align: center;
  }
  .cta-email-responsive[type="submit"]:hover, .cta-email-responsive[type="submit"]:active, .cta-email-responsive[type="submit"]:focus {
    color: #fff;
    background-color: #FFC107;
    border: 0;
    text-decoration: none;
  }
  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
  }
  .table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 1px;
    border: 1px solid #8e8e8e;
    content: '\f0da ';
    font-family: FontAwesome;
    color: #616161;
  }
  .table-responsive::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #f1f1f1;
  }
}
.media-blog {
  position: relative;
}
.media-cover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.article-title {
  position: absolute;
  top: 43%;
  left: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
}
.avatar {
  text-align: center;
}
.avatar img {
  width: 80px;
  height: 80px;
}
.blog-menu-sharing {
  width: 300px;
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
.blog-menu-sharing li {
  display: inline;
  padding: 0 5px;
}
.blog-menu-sharing li a {
  display: inline-block;
  text-decoration: none;
}
.blog-menu-sharing .fa {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  font-size: 18px;
}
.blog-menu-sharing .fa-facebook {
  background-color: #3C599F;
}
.blog-menu-sharing .fa-twitter {
  background-color: #32CCFE;
}
.blog-menu-sharing .fa-google-plus {
  background-color: #CF3D2E;
}
.blog-menu-sharing .fa-pinterest {
  background-color: #CC2127;
}
.blog-menu-sharing .fa-facebook:hover {
  background-color: #2a3e70;
}
.blog-menu-sharing .fa-twitter:hover {
  background-color: #29a2c9;
}
.blog-menu-sharing .fa-google-plus:hover {
  background-color: #a53024;
}
.blog-menu-sharing .fa-pinterest:hover {
  background-color: #9f1a1e;
}
