<footer class="container-fluid">
	<div class="container-footer-responsive md-margin-top">
		<div class="row">
			<div class="col-sm-4">
				<div class="footer-col">
					<ul class="list-layout-footer">
						<li><%= image_tag("logo-white.png") %></li>
						<li class="sm-margin-top sm-margin-left"><b>Hewago.com</b><br>15 rue Ferdinand Buisson<br>92110 Clichy</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-col">
					<h2 class="sm-margin-left">Société</h2>
					<ul class="list-layout-footer sm-margin-left">
						<li><%= link_to "Qui sommes nous?", about_us_path %></li>
						<li><%= link_to "Aide - FAQ", faq_path %></li>
						<li><%= link_to "Conditions générales et confidentialité", terms_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-col">
					<h2 class="sm-margin-left">Découvrir</h2>
					<ul class="list-layout-footer sm-margin-left">
						<li><%= link_to "Comment ça marche?", how_it_works_path %></li>
						<li><%= link_to "Témoignages de nos aventuriers", testimonials_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="divider-footer" />
		<div class="text-center">
			<h2>Rejoins-nous sur</h2>
			<ul class="footer-menu-social">
				<li><a href="https://www.facebook.com/hewago" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/hewago_" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.instagram.com/hewago" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
			<p class="copywright-footer">&copy; 2016 Hewago &middot; Tous droits réservés</p>
		</div>
	</div>
</footer>