<header class="main-menu">
  <%= link_to image_tag("menu-burger.png"), "#", class:"header-icon", id:"header-icon" %>
  <div class="header-pull-left">
      <%= link_to image_tag("logo.png"), root_path %>
  </div>

  <ul class="header-pull-right">
      <li><%= link_to "Comment ça fonctionne ?", how_it_works_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  </ul>
</header>
<ul class="menu-responsive-header">
  <li><%= link_to 'Accueil', root_path, class:"sm-margin-top" %></li>
  <li><%= link_to "Comment ça fonctionne ?", how_it_works_path %></li>
  <li><%= link_to "FAQ", faq_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>