<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Ton week-end dans une destination surprise dès 175€ - Hewago</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<!--[if lte IE 8]>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<![endif]-->

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%flash.each do |name, msg| %>
    <%= content_tag(:div,msg,class:"alert alert-info") %>
  <%end%>

  <%= render 'layouts/home_header' %>
  <%= yield %>
  <%= render 'layouts/home_footer' %>

  <div class="site-hidden" id="site-hidden"></div>

</body>
</html>
